.about-news {
    background-color: $bg;
    padding-top: 10rem;
    padding-bottom: 7rem;

    @media screen and (max-width:$large_tablet) {
        padding-top: 5.5rem;
        padding-bottom: 4rem;
    }

    .news {
        padding: 0;
        background-color: inherit;
    }

    &__title {
        display: none;

        @media screen and (max-width:$large_tablet) {
            margin-bottom: 4.5rem;
            display: block;
        }
    }

    &__pagination {
        display: flex;
        justify-content: center;
        margin-top: 10rem;

        @media screen and (max-width:$large_tablet) {
            margin-top: 5.5rem;
        }
    }
}