.contacts {
    &__container {
        background: #FFFFFF;
        box-shadow: 0px 1px 36px 13px rgba(21, 21, 21, 0.03);
    }

    &__wrap {
        padding: 10rem 0 8.5rem;
        display: flex;

        @media screen and (max-width:$large_tablet) {
            padding-bottom: 4.5rem;
            padding-top: 0;
            flex-direction: column;
        }
    }

    &__connection {
        max-width: 40rem;
        width: 100%;
        margin-right: 25rem;

        @media screen and (max-width:$large_tablet) {
            margin-right: 0;
            margin-bottom: 3.5rem;
        }

        &--address {
            margin-right: 7rem;
        }

        &-title {
            font-weight: 600;
            font-size: 2.4rem;
            line-height: 120%;
            letter-spacing: -0.02em;
            color: $primary-color;
            margin-bottom: 3.5rem;

            @media screen and (max-width:$large_tablet) {
                font-size: 2rem;
                margin-bottom: 1rem;
            }
        }

        &-text {
            font-size: 1.6rem;
            line-height: 200%;
            color: $gray--dark;

            @media screen and (max-width:$large_tablet) {
                font-size: 1.3rem;
            }
        }

        &-row {
            display: flex;
            align-items: center;
            margin-bottom: 6.5rem;

            @media screen and (max-width:$large_tablet) {
                margin-bottom: 3.5rem;
            }

            &:last-child {
                margin-bottom: 0px;
            }

            svg {
                width: 5rem;
                margin-right: 2rem;

                @media screen and (max-width:$large_tablet) {
                    margin-right: 1.5rem;
                }
            }
        }

        &-info {
            font-size: 1.4rem;
            line-height: 200%;
            color: $gray--light;
            margin-bottom: 0.4rem;
        }

        &-data {
            font-weight: 600;
            font-size: 1.6rem;
            color: $primary-color;

            @media screen and (max-width:$large_tablet) {
                display: flex;
                flex-direction: column;
            }

            a {
                position: relative;

                &::before {
                    content: "";
                    position: absolute;
                    left: 0px;
                    bottom: -2px;
                    width: 0%;
                    height: 1px;
                    background: $primary-color;
                    opacity: 0;
                    transition: all 0.5s;
                }

                &:hover::before {
                    width: 100%;
                    opacity: 1;
                }

            }

            span {
                font-weight: 500;
                color: $gray--dark;
                font-size: 1.2rem;
                margin-left: 0.5rem;

                @media screen and (max-width:$large_tablet) {
                    display: block;
                    margin-left: 0;
                    margin-top: 0.5rem;
                    font-size: 1rem;
                }
            }

            em {
                font-style: initial;
                margin-right: 1.5rem;

                &:last-child {
                    margin-right: 0px;

                    @media screen and (max-width:$large_tablet) {
                        margin-top: 1rem;
                    }
                }
            }
        }

        &--small {
            max-width: 12rem;
            width: 100%;
            margin-right: 0;

            @media screen and (max-width:$large_tablet) {
                margin-bottom: 0;
                display: flex;
            }

            .contacts__connection-box {
                margin-bottom: 6.5rem;

                &:last-child {
                    margin-bottom: 0px;
                }

                @media screen and (max-width:$large_tablet) {
                    margin-bottom: 0;

                    &:first-child {
                        margin-right: 7rem;
                    }
                }
            }

        }
    }

    &__info {}

    &__map {
        width: 100%;

        >div {
            position: relative;
            padding-bottom: 28%;

            @media screen and (max-width:$large_tablet) {
                padding-bottom: 54.85%;
            }

            #map {
                position: absolute;
                top: 0px;
                left: 0px;
                width: 100%;
                height: 100%;
            }
        }
    }

    &__text {
        padding: 5rem 0;
        text-align: center;
        max-width: 92rem;
        width: 100%;
        margin: 0 auto;

        @media screen and (max-width:$large_tablet) {
            padding: 4rem 0;
            text-align: left;
        }

        &-title {
            font-weight: 600;
            font-size: 1.7rem;
            line-height: 200%;
            color: $primary-color;
            margin-bottom: 2rem;

            @media screen and (max-width:$large_tablet) {
                margin-bottom: 1.5rem;
            }
        }

        &-info {
            font-size: 1.4rem;
            line-height: 200%;
            color: $gray;
            margin-bottom: 1rem;

            @media screen and (max-width:$large_tablet) {

                font-size: 1.2rem;
            }
        }

        &-link {
            color: $secondary-color;
            position: relative;

            @media screen and (max-width:$large_tablet) {
                font-size: 1.4rem;
            }

            &::before {
                content: "";
                position: absolute;
                left: 0px;
                bottom: -2px;
                width: 0%;
                height: 1px;
                background: $secondary-color;
                opacity: 0;
                transition: all 0.5s;
            }

            &:hover::before {
                width: 100%;
                opacity: 1;
            }

        }
    }


}

[class*="ymaps-2"][class*="-ground-pane"] {
    filter: grayscale(1);
}

.ymaps-2-1-78-controls__control_toolbar,
.ymaps-2-1-78-copyright_logo_no,
.ymaps-2-1-78-map-copyrights-promo {
    display: none !important;
}