.faq {
    padding-top: 7rem;
    padding-bottom: 7rem;
    background: #F2F2F2;

    @media screen and (max-width:$large_tablet) {
        padding-top: 0;
    }

    .center-wrap {
        @media screen and (max-width:$large_tablet) {
            padding: 0;
        }
    }

    &__list {
        max-width: 77rem;
        width: 100%;
        margin: 0 auto;

        &--100 {
            max-width: 100%;
        }
    }

    &__item {
        width: 100%;
        border-bottom: 1px solid #E7E7E8;

        @media screen and (max-width:$large_tablet) {
            margin-bottom: 0.5rem;
        }

        &:hover {
            .faq__item-title {
                color: $secondary-color;
            }

            .faq__item-icon {

                &::before,
                &::after {
                    background-color: $secondary-color;
                }
            }
        }

        &:first-child {
            border-top: 1px solid #E7E7E8;
        }

        &-icon {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-shrink: 0;
            width: 12px;
            height: 12px;
            position: relative;

            &::before,
            &::after {
                content: '';
                position: absolute;
                width: 3px;
                height: 100%;
                background-color: $primary-color;
                opacity: 1;
                transition: background-color .5s, opacity .5s;

                @media screen and (max-width:$large_tablet) {
                    width: 2px;
                }
            }

            &::before {
                .toogles2__item--active & {
                    opacity: 0;
                }
            }

            &::after {
                transform: rotate(90deg);
                transform-origin: center;

                .toogles2__item--active & {
                    background-color: $secondary-color;
                }
            }
        }

        &-title {
            cursor: pointer;
            font-weight: 600;
            font-size: 1.6rem;
            line-height: 180%;
            color: $primary-color;
            padding: 4rem 0rem;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: space-between;
            transition: all .5s;

            @media screen and (max-width:$large_tablet) {
                padding: 2.8rem 20px;

                .text-page__faq & {
                    padding: 2.8rem 0;
                }
            }

        }

        &-subtitle {
            padding-right: 1rem;

            .toogles2__item--active & {
                color: $secondary-color;
            }
        }

        &-text {
            font-size: 1.6rem;
            line-height: 200%;
            color: $gray--dark;
            margin-bottom: 5rem;
            max-width: 78rem;
            width: 100%;

            @media screen and (max-width:$large_tablet) {
                font-size: 1.4rem;
            }

            &:last-child {
                margin-bottom: 0px;
            }
        }

        &-box {
            line-height: 137%;
            color: #5F5F5F;
            padding: 0 0 4rem 0rem;

            @media screen and (max-width:$large_tablet) {
                padding: 0 0 2.8rem 0rem;
            }
        }

        &-table {
            margin-bottom: 4.5rem;
        }
    }

    &__row {
        width: 100%;
        display: flex;
        align-items: center;
        border: 1px solid #E3E5E8;
        padding: 2.5rem 3.5rem;
        margin-bottom: 4rem;

        @media screen and (max-width:$large_tablet) {
            padding: 2.3rem 20px;
            margin-bottom: 0;

            &:nth-child(even) {
                border: none;
            }
        }

        &:last-child {
            margin-bottom: 0px;

            @media screen and (max-width:$large_tablet) {
                border-bottom: none;
            }
        }

        &-logo {
            max-width: 15rem;
            width: 100%;
            min-height: 4.5rem;
            display: flex;
            align-items: center;
            margin-right: 9rem;
        }

        &-title {
            font-weight: 600;
            font-size: 1.2rem;
            line-height: 180%;
            color: $gray--dark;
            text-transform: uppercase;

            &--padding {
                padding-top: 1.2rem;
                padding-bottom: 1.2rem;
                padding-left: calc(15rem + 9rem);

                @media screen and (max-width:$large_tablet) {
                    padding-left: 0;
                }
            }
        }
    }
}