.link {
    display: inline-flex;
    align-items: center;

    &:hover {
        .link__title::before {
            width: 100%;
            opacity: 1;
        }
    }

    svg {
        width: 2.2rem;
        fill: $secondary-color;
        margin-right: 2.4rem;
    }

    &__title {
        font-weight: 600;
        font-size: 1.2rem;
        line-height: 110%;
        color: $secondary-color;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            left: 0px;
            bottom: -2px;
            width: 0%;
            height: 1px;
            background: $secondary-color;
            opacity: 0;
            transition: all 0.5s;
        }
    }
}