.more-look {
    border-top: 1px solid #e3e5e8;
    position: relative;
    overflow: hidden;

    // &__background,
    // &__background-white {
    //     width: 100%;
    //     height: 100%;
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    // }

    // &__background {}

    // &__background-white {
    //     z-index: 1;
    //     background-color: #ffffff;
    // }


    &--border {
        border: none;
    }

    &__wrap {
        padding: 7rem 0;
        display: flex;
        align-items: center;
        justify-content: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        z-index: -1;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.43);
            z-index: 1;
        }

        @media screen and (max-width: $large_tablet) {
            padding: 5.5rem 0;
        }

        &--opacity {
            &::before {
                display: none;
            }
        }

        &:hover {
            // .more-look__title {
            //     color: #fff;
            // }

            svg {
                fill: #fff;
                transform: translateX(2.5rem);
            }

            // .more-look__title--color {
            //     color: $secondary-color;
            // }

            // .more-look__title--color+svg {
            //     fill: $secondary-color;
            // }


        }
    }

    &__title {
        font-weight: 600;
        font-size: 1.8rem;
        color: #fff;
        margin-right: 3.2rem;
        transition: color 0.5s;
        position: relative;
        z-index: 2;

        @media screen and (max-width: $large_tablet) {
            font-size: 1.6rem;
        }
    }

    svg {
        width: 2.8rem;
        fill: $secondary-color;
        z-index: 2;
        transition: fill .5s, transform .5s;
    }
}

.documentation+.more-look {
    .more-look__wrap {
        @media screen and (max-width:$large_tablet) {
            padding: 4.5rem 0;
        }

    }
}