.new {
    width: calc((100% - 15rem * 2) / 3);
    margin-bottom: 8.5rem;
    position: relative;

    &--hide {
        margin-bottom: 0px !important;
        padding: 0px !important;
        opacity: 0 !important;
        height: 0px !important;
    }

    @media screen and (max-width:$large_tablet) {
        width: 100%;
        margin-bottom: 4rem;

    }

    &::before {
        content: '';
        position: absolute;
        top: -5rem;
        left: -5rem;
        width: calc(100% + 10rem);
        height: calc(100% + 10rem);
        background: rgba(#fff, 0);
        transition: background .5s, box-shadow .5;

        @media screen and (max-width:$large_tablet) {
            display: none;
        }

    }

    &:hover {
        &::before {
            background: rgba(#fff, 1);
            box-shadow: 0px 1px 36px 13px rgba(21, 21, 21, 0.03);
        }

        @media screen and (max-width:$large_tablet) {
            background: inherit;
            box-shadow: none;
        }

        .new__title {
            color: $secondary-color;
        }

        .read-more__arrow {
            opacity: 1;
        }

        .read-more__link {
            opacity: 0;
            visibility: hidden;
        }

        .read-more__icon {
            opacity: 0;
            visibility: hidden;
        }
    }

    &__date {
        margin-bottom: 2rem;
        color: $gray;
        font-size: 1.2rem;
        line-height: 110%;
        position: relative;

        @media screen and (max-width:$large_tablet) {
            margin-bottom: 1rem;
        }
    }

    &__title {
        color: $primary-color;
        margin-bottom: 2rem;
        font-weight: 600;
        font-size: 1.8rem;
        line-height: 170%;
        display: block;
        transition: opacity .5s;
        position: relative;

        @media screen and (max-width:$large_tablet) {
            font-size: 1.4rem;
            margin-bottom: 0;
        }

        &:hover {
            opacity: 0.7;
        }
    }
}