.services {
    padding-top: 9rem;
    padding-bottom: 18rem;

    @media screen and (max-width:$large_tablet) {
        padding-top: 7.5rem;
        padding-bottom: 12rem;
    }

    .center-wrap {
        padding: 0;
    }

    &__title {
        margin-bottom: 10rem;

        @media screen and (max-width:$large_tablet) {
            margin-bottom: 5.5rem;
            padding: 0 20px;
        }
    }

    &__offser {
        max-width: 136rem;
        width: 100%;
    }
}