section.error
    .center-wrap
        .error__content
            .error__img 
                div 
                    img(src='assets/images/svg/error-icon.svg' alt='')
            h2.error__title.simple-title Как неожиданно!
            .error__info 
                p.error__text К сожалению, мы не можем найти то, что вы ищете. Попробуйте начать с 
                    a(href="/").error__link главной страницы
            p.error__code Код ошибки: 404
