section.about#scroll-down
    .center-wrap
        h2.about__title.simple-title Кратко о компании
        .about__top
            .indicators
                .indicators__list 
                    .indicators__item
                        p.indicators__item-number 20+
                        p.indicators__item-text Лет на рынке
                    .indicators__item
                        p.indicators__item-number 1500+
                        p.indicators__item-text Реализованных проектов
                    .indicators__item.indicators__item--symbol
                        p.indicators__item-number 11
                            sub млрд.руб.
                        p.indicators__item-text Переданного имущества
                    .indicators__item
                        p.indicators__item-number 50
                        p.indicators__item-text Топ лизинговых компаний
        .about__bottom
            .about__bottom-item
                span
                p.about__bottom-text Работаем со всеми категориями бизнеса: от малого до крупного
            .about__bottom-item
                span
                p.about__bottom-text Работаем по всей территории РФ
            .about__bottom-item
                span
                p.about__bottom-text Финансируем приобретение любого имущества, в том числе б/у
            .about__bottom-item
                span
                p.about__bottom-text Работаем с клиентами <br>из всех отраслей экономики



