section.about-news
    .center-wrap
        h2.about-news__title.simple-title Новости компании
        .news
            .news__list
                +new({href:'new-view.html',title:'Компания «ТСС-Лизинг» вошла в десятку лучших лизинговых компаний Урала и Западной Сибири',date:'13 декабря 2019'})
                +new({href:'new-view.html',title:'45 место в рейтинге крупнейших лизинговых компаний',date:'13 декабря 2019'})
                +new({href:'new-view.html',title:'Завершена сделка по передаче АБЗ импортного оборудования на 230 млн. руб.',date:'13 декабря 2019'})
                +new({href:'new-view.html',title:'«ТСС-Лизинг» способствует развитию отечественного АПК',date:'13 декабря 2019'})
                +new({href:'new-view.html',title:'Льготная программа лизинга строительной и коммунальной техники',date:'13 декабря 2019'})
                +new({href:'new-view.html',title:'Поставка мобильного АБЗ Benninghoven «МВА 2500» стоимостью 130 млн.руб.',date:'13 декабря 2019'})
                +new({href:'new-view.html',title:'45 место в рейтинге крупнейших лизинговых компаний',date:'13 декабря 2019'})
                +new({href:'new-view.html',title:'Завершена сделка по передаче АБЗ импортного оборудования на 230 млн. руб.',date:'13 декабря 2019'})
                +new({href:'new-view.html',title:'Компания «ТСС-Лизинг» вошла в десятку лучших лизинговых компаний Урала и Западной Сибири',date:'13 декабря 2019'})
                +new({href:'new-view.html',title:'Льготная программа лизинга строительно-дорожной и коммунальной техники',date:'13 декабря 2019'})
                +new({href:'new-view.html',title:'«ТСС-Лизинг» способствует развитию отечественного АПК',date:'13 декабря 2019'})
                +new({href:'new-view.html',title:'«Поставка мобильного АБЗ Benninghoven «МВА 2500» стоимостью 130 млн.руб.',date:'13 декабря 2019'})
                +new({class:'new--hide'})
        .about-news__pagination
            .pagination
                .pagination__prev.active
                    svg(viewBox='0 0 51 12' fill='none' xmlns='http://www.w3.org/2000/svg')
                        path(d='M0.469669 6.53033C0.176777 6.23744 0.176777 5.76256 0.469669 5.46967L5.24264 0.696699C5.53553 0.403806 6.01041 0.403806 6.3033 0.696699C6.5962 0.989593 6.5962 1.46447 6.3033 1.75736L2.06066 6L6.3033 10.2426C6.5962 10.5355 6.5962 11.0104 6.3033 11.3033C6.01041 11.5962 5.53553 11.5962 5.24264 11.3033L0.469669 6.53033ZM51 6.75L1 6.75V5.25L51 5.25V6.75Z')
                ul.pagination__list
                    li.pagination__item
                        a(href="").pagination__link.pagination__link--active 1
                    li.pagination__item
                        a(href="").pagination__link 2
                    li.pagination__item
                        a(href="").pagination__link 3
                    li.pagination__item
                        a(href="").pagination__link.pagination__link--dots ..
                    li.pagination__item
                        a(href="").pagination__link 13
                .pagination__next
                    svg(viewBox='0 0 51 12' fill='none' xmlns='http://www.w3.org/2000/svg')
                        path(d='M50.5303 6.53033C50.8232 6.23744 50.8232 5.76256 50.5303 5.46967L45.7574 0.696699C45.4645 0.403806 44.9896 0.403806 44.6967 0.696699C44.4038 0.989593 44.4038 1.46447 44.6967 1.75736L48.9393 6L44.6967 10.2426C44.4038 10.5355 44.4038 11.0104 44.6967 11.3033C44.9896 11.5962 45.4645 11.5962 45.7574 11.3033L50.5303 6.53033ZM0 6.75L50 6.75V5.25L0 5.25L0 6.75Z')


