section.conditions
    .center-wrap
        h2.conditions__title.simple-title Базовые финансовые условия
        .conditions__list
            .conditions__item
                p.conditions__item-title Срок лизинга
                p.conditions__item-number 1-5 <sub>лет</sub>
            .conditions__item
                p.conditions__item-title Годовое удорожание
                p.conditions__item-number <sub>от</sub> 3%
            .conditions__item
                p.conditions__item-title Аванс
                p.conditions__item-number <sub>от</sub> 5%
            .conditions__item
                p.conditions__item-title Валюта
                p.conditions__item-number ₽
            .conditions__item
                p.conditions__item-title Регион действия
                p.conditions__item-text вся территория РФ
            .conditions__item
                p.conditions__item-title Услуги
                p.conditions__item-text финансовый и операционный лизинг
            .conditions__item.conditions__item--big 
                p.conditions__item-title Предмет лизинга
                p.conditions__item-text все виды имущества, которые в соответствии с действующим законодательствам могут являться предметом лизинга
            .conditions__item.conditions__item--hide
            .conditions__item.conditions__item--hide