section.contacts
    .contacts__container
        .center-wrap
            .contacts__wrap
                .contacts__connection.contacts__connection--address
                    h2.contacts__connection-title Головной офис
                    p.contacts__connection-text 191014, Санкт-Петербург, ул. Маяковского 12А, БЦ «Ассамблея», 1 этаж
                .contacts__connection
                    .contacts__connection-row
                        svg(viewBox='0 0 50 50' fill='none' xmlns='http://www.w3.org/2000/svg')
                            circle(cx='25' cy='25' r='24.5' fill='white' stroke='#F2F2F2')
                            path(d='M30.7796 28.3999L28.0413 25.9103C27.9119 25.7926 27.7418 25.7299 27.567 25.7353C27.3922 25.7407 27.2263 25.8138 27.1044 25.9392L25.4924 27.597C25.1044 27.5229 24.3244 27.2797 23.5214 26.4788C22.7185 25.6752 22.4753 24.8931 22.4033 24.5078L24.0597 22.8952C24.1852 22.7734 24.2585 22.6075 24.2639 22.4326C24.2693 22.2577 24.2064 22.0876 24.0886 21.9582L21.5996 19.2207C21.4818 19.091 21.318 19.0123 21.143 19.0013C20.9681 18.9904 20.7958 19.0481 20.6627 19.1621L19.2009 20.4157C19.0845 20.5326 19.015 20.6881 19.0056 20.8529C18.9955 21.0213 18.8028 25.0103 21.896 28.1049C24.5945 30.8026 27.9747 31 28.9056 31C29.0416 31 29.1252 30.996 29.1474 30.9946C29.3121 30.9854 29.4676 30.9156 29.5839 30.7986L30.8368 29.3362C30.9513 29.2035 31.0094 29.0313 30.9987 28.8564C30.988 28.6815 30.9094 28.5176 30.7796 28.3999Z' fill='#444C58')
                        .contacts__connection-box
                            p.contacts__connection-info Тел./факс:
                            .contacts__connection-data
                                a(href="tel:78126710011") +7 (812) 671-00-11
                                span (многоканальный)
                    .contacts__connection-row
                        svg(viewBox='0 0 50 50' fill='none' xmlns='http://www.w3.org/2000/svg')
                            circle(cx='25' cy='25' r='24.5' fill='white' stroke='#E8EAED')
                            path(d='M21 20C20.4696 20 19.9609 20.2107 19.5858 20.5858C19.2107 20.9609 19 21.4696 19 22V22.201L25 25.432L31 22.202V22C31 21.4696 30.7893 20.9609 30.4142 20.5858C30.0391 20.2107 29.5304 20 29 20H21Z' fill='#444C58')
                            path(d='M31 23.337L25.237 26.44C25.1642 26.4792 25.0827 26.4998 25 26.4998C24.9173 26.4998 24.8358 26.4792 24.763 26.44L19 23.337V28C19 28.5305 19.2107 29.0392 19.5858 29.4142C19.9609 29.7893 20.4696 30 21 30H29C29.5304 30 30.0391 29.7893 30.4142 29.4142C30.7893 29.0392 31 28.5305 31 28V23.337Z' fill='#444C58')

                        .contacts__connection-box
                            p.contacts__connection-info Эл.почта
                            .contacts__connection-data
                                a(href="mailto:info@tss-leasing.ru") info@tss-leasing.ru
                    .contacts__connection-row
                        svg(viewBox='0 0 50 50' fill='none' xmlns='http://www.w3.org/2000/svg')
                            circle(cx='25' cy='25' r='24.5' fill='white' stroke='#E8EAED')
                            path(d='M24.992 17C20.576 17 17 20.584 17 25C17 29.416 20.576 33 24.992 33C29.416 33 33 29.416 33 25C33 20.584 29.416 17 24.992 17ZM28.2 28.2C28.126 28.2742 28.0381 28.333 27.9413 28.3731C27.8445 28.4133 27.7408 28.434 27.636 28.434C27.5312 28.434 27.4275 28.4133 27.3307 28.3731C27.2339 28.333 27.146 28.2742 27.072 28.2L24.44 25.568C24.3644 25.4939 24.3043 25.4056 24.2631 25.3081C24.2219 25.2106 24.2004 25.1058 24.2 25V21.8C24.2 21.36 24.56 21 25 21C25.44 21 25.8 21.36 25.8 21.8V24.672L28.2 27.072C28.512 27.384 28.512 27.888 28.2 28.2Z' fill='#444C58')
                        .contacts__connection-box
                            p.contacts__connection-info Время работы:
                            .contacts__connection-data
                                em Пн.-Чт.: 9.30-18.30
                                em Пт.: 9.30-17.30
                .contacts__connection.contacts__connection--small
                    .contacts__connection-box
                        p.contacts__connection-info ИНН
                        .contacts__connection-data
                            p 7703456008
                    .contacts__connection-box
                        p.contacts__connection-info ОГРН 
                        .contacts__connection-data
                            p 775101001
    .contacts__map
        div
            #map
    .contacts__text 
        .center-wrap 
            h3.contacts__text-title Уважаемые партнёры!
            p.contacts__text-info Информируем, что при посещении нашего офиса вы можете воспользоваться платной городскойпарковкой, расположенной на ул. Маяковского и близлежащих улицах. Парковку вы можетеоплатить одним из следующих способов:банковской картой через паркомат, СМС-сообщением на номер 2722, через мобильное приложение «Парковки Санкт-Петербурга» в  личном кабинете на сайте 
            a(href="" target='_blank').contacts__text-link www.parking.spb.ru