section.faq
    .center-wrap
        .faq__list.toogles2
            .faq__item.toogles2__item.toogles2__item--active(id='banks')
                .faq__item-title.toogles2__item-title 
                    p.faq__item-subtitle Банки
                    span.faq__item-icon
                .faq__item-box.toogles2__item-box
                    .faq__row
                        .faq__row-logo 
                            img(src='assets/images/png/faq-img1.png' alt='')
                        h3.faq__row-title ПАО «СБЕРБАНК»
                    .faq__row
                        .faq__row-logo 
                            img(src='assets/images/png/faq-img2.png' alt='')
                        h3.faq__row-title ПАО «СБЕРБАНК»
                    .faq__row
                        .faq__row-logo 
                            img(src='assets/images/png/faq-img3.png' alt='')
                        h3.faq__row-title ПАО «СБЕРБАНК»
                    .faq__row
                        .faq__row-logo 
                            img(src='assets/images/png/faq-img4.png' alt='')
                        h3.faq__row-title ПАО «СБЕРБАНК»
                    .faq__row
                        h3.faq__row-title.faq__row-title--padding Партнер без логотипа

            .faq__item.toogles2__item(id='companyes')
                .faq__item-title.toogles2__item-title
                    p.faq__item-subtitle Cтраховые компании
                    span.faq__item-icon
                .faq__item-box.toogles2__item-box
                    .faq__row
                        .faq__row-logo 
                            img(src='assets/images/png/faq-img1.png' alt='')
                        h3.faq__row-title ПАО «СБЕРБАНК»
                    .faq__row
                        .faq__row-logo 
                            img(src='assets/images/png/faq-img2.png' alt='')
                        h3.faq__row-title ПАО «СБЕРБАНК»
                    .faq__row
                        .faq__row-logo 
                            img(src='assets/images/png/faq-img3.png' alt='')
                        h3.faq__row-title ПАО «СБЕРБАНК»
                    .faq__row
                        .faq__row-logo 
                            img(src='assets/images/png/faq-img4.png' alt='')
                        h3.faq__row-title ПАО «СБЕРБАНК»
                    .faq__row
                        h3.faq__row-title.faq__row-title--padding Партнер без логотипа
            .faq__item.toogles2__item(id='providers')
                .faq__item-title.toogles2__item-title
                    p.faq__item-subtitle Поставщики
                    span.faq__item-icon
                .faq__item-box.toogles2__item-box
                    .faq__row
                        .faq__row-logo 
                            img(src='assets/images/png/faq-img1.png' alt='')
                        h3.faq__row-title ПАО «СБЕРБАНК»
                    .faq__row
                        .faq__row-logo 
                            img(src='assets/images/png/faq-img2.png' alt='')
                        h3.faq__row-title ПАО «СБЕРБАНК»
                    .faq__row
                        .faq__row-logo 
                            img(src='assets/images/png/faq-img3.png' alt='')
                        h3.faq__row-title ПАО «СБЕРБАНК»
                    .faq__row
                        .faq__row-logo 
                            img(src='assets/images/png/faq-img4.png' alt='')
                        h3.faq__row-title ПАО «СБЕРБАНК»
                    .faq__row
                        h3.faq__row-title.faq__row-title--padding Партнер без логотипа