section.financial-conditions
    .center-wrap    
        h2.financial-conditions__title.simple-title Базовые финансовые условия
        .financial-conditions__list 
            .financial-conditions__item
                .financial-conditions__left
                    svg(viewBox='0 0 70 70' fill='none' xmlns='http://www.w3.org/2000/svg')
                        circle(cx='35' cy='35' r='35' transform='rotate(90 35 35)' fill='#00AEEF')
                        path(fill-rule='evenodd' clip-rule='evenodd' d='M30.1964 28L33.5801 28L37.9769 35.1056L33.6222 42.1489L30.2386 42.1489L33.8637 36.3093L27.5446 36.3091L26.8066 35.1106L27.5446 33.9071L33.8637 33.9071L30.1964 28ZM38.1358 28L42.4417 35.1055L38.1776 42.1489L35.0363 42.1489L39.303 35.1097L34.9949 28L38.1358 28Z' fill='white')
                .financial-conditions__right
                    p.financial-conditions__item-title Срок лизинга
                    p.financial-conditions__item-number 1-5 <sub>лет</sub>
            .financial-conditions__item
                .financial-conditions__left
                    svg(viewBox='0 0 70 70' fill='none' xmlns='http://www.w3.org/2000/svg')
                        circle(cx='35' cy='35' r='35' transform='rotate(90 35 35)' fill='#00AEEF')
                        path(fill-rule='evenodd' clip-rule='evenodd' d='M30.1964 28L33.5801 28L37.9769 35.1056L33.6222 42.1489L30.2386 42.1489L33.8637 36.3093L27.5446 36.3091L26.8066 35.1106L27.5446 33.9071L33.8637 33.9071L30.1964 28ZM38.1358 28L42.4417 35.1055L38.1776 42.1489L35.0363 42.1489L39.303 35.1097L34.9949 28L38.1358 28Z' fill='white')
                .financial-conditions__right
                    p.financial-conditions__item-title Годовое удорожание
                    p.financial-conditions__item-number <sub>от</sub> 3% 
            .financial-conditions__item
                .financial-conditions__left
                    svg(viewBox='0 0 70 70' fill='none' xmlns='http://www.w3.org/2000/svg')
                        circle(cx='35' cy='35' r='35' transform='rotate(90 35 35)' fill='#00AEEF')
                        path(fill-rule='evenodd' clip-rule='evenodd' d='M30.1964 28L33.5801 28L37.9769 35.1056L33.6222 42.1489L30.2386 42.1489L33.8637 36.3093L27.5446 36.3091L26.8066 35.1106L27.5446 33.9071L33.8637 33.9071L30.1964 28ZM38.1358 28L42.4417 35.1055L38.1776 42.1489L35.0363 42.1489L39.303 35.1097L34.9949 28L38.1358 28Z' fill='white')
                .financial-conditions__right
                    p.financial-conditions__item-title Аванс
                    p.financial-conditions__item-number <sub>от</sub> 5%
            .financial-conditions__item.financial-conditions__item--hide 