section.history
    .history__top 
        .center-wrap 
            p.history__number 2000
            p.history__descr Создание компании. Основное направление деятельности компании – финансирование приобретения в лизинг техники БелАЗ
    .history__body
        .center-wrap 
            .history__list
                .scroll-down
                    .scroll-down__scrolldown
                        .scroll-down__line
                    span
                .history__list-line
                .history__list-right
                    .history__item
                        .history__item-top
                            span.history__item-circle.history__item-circle--desktop
                            p.history__number.history__number--small 2000-2004
                        p.history__text Клиентами компании становятся широкий круг горнодобывающих и строительных компаний Северо-Западного и других регионов России. Среди крупнейших клиентов лидеры отрасли: «Карельский окатыш», «Севералмаз», «Фосфорит».
                .history__list-left
                    .history__item.history__item--left
                        .history__item-top
                            p.history__number 2004
                            span.history__item-circle.history__item-circle--desktop
                        p.history__text Принятие решения о преобразовании «Техноспецсталь-Лизинг» в универсальную рыночную лизинговую компанию. Начало реорганизации структуры компании для решения новых задач.
                .history__list-right
                    .history__item
                        .history__item-top
                            span.history__item-circle.history__item-circle--desktop.history__item-circle--grey
                            p.history__number.history__number--small 2010
                        p.history__text Выход компании на рынок лизинга недвижимости. Проведена первая сделка с комплексом офисных помещений.
