section.key-facts
    .center-wrap 
        .key-facts__wrap 
            .key-facts__left
                h2.key-facts__title.simple-title Основные факты     
            .key-facts__right
                ul.key-facts__list 
                    li.item-arrow На рынке лизинговых услуг с 2000 года
                    li.item-arrow Универсальная лизинговая компания
                    li.item-arrow Входим в топ-50 лизинговых компаний РФ
                    li.item-arrow Работаем по всей территории РФ
                    li.item-arrow Участвуем в федеральных программах господдержки отечественной продукции
                    li.item-arrow Аккредитованы в региональных Фондах Развития Промышленности
                    li.item-arrow Являемся членом Объединенной Лизинговой Ассоциации с 2004 года
