section.key-indicators.toogles2
    .center-wrap
        h2.key-indicators__title.simple-title Ключевые показатели
        .key-indicators__top
            .key-indicators__top-item 
                .key-indicators__top-img 
                    div 
                        img(src='assets/images/svg/key-indicators__top-img1.svg' alt='')
                p.key-indicators__top-number.key-indicators__top-number--opacity 510
                    sub opacity
                p.key-indicators__top-text Контрактов в портфеле
            .key-indicators__top-item 
                .key-indicators__top-img 
                    div 
                        img(src='assets/images/svg/key-indicators__top-img2.svg' alt='')
                p.key-indicators__top-number 150
                    sub млн.руб
                p.key-indicators__top-text капитал
            .key-indicators__top-item 
                .key-indicators__top-img 
                    div 
                        img(src='assets/images/svg/key-indicators__top-img3.svg' alt='')
                p.key-indicators__top-number 3 233
                    sub млн.руб
                p.key-indicators__top-text Лизинговый портфель
            .key-indicators__top-item 
                .key-indicators__top-img 
                    div 
                        img(src='assets/images/svg/key-indicators__top-img4.svg' alt='')
                p.key-indicators__top-number 2 619
                    sub млн.руб
                p.key-indicators__top-text Объем нового бизнеса
        .key-indicators__wrap
            .key-indicators__item.toogles2__item.toogles2__item--active
                p.key-indicators__number.toogles2__item-title 2019
                .key-indicators__box.toogles2__item-box
                    .key-indicators__tabs-wrap
                        .key-indicators__tabs-item
                            .key-indicators__tabs-title
                                svg(viewBox='0 0 12 6' fill='none' xmlns='http://www.w3.org/2000/svg')
                                    path(d='M5.67541 6L11.4004 2.53072L11.4004 0L5.67198 3.47113L0.000389099 0.0333427V2.56435L5.67541 6Z') 
                                p Рыночный рэнкинг Эксперт РА 2019
                                    span.key-indicators__tabs-descr место в ТОП компаний РФ
                            .key-indicators__tabs-list
                                .key-indicators__tabs-row 
                                    svg(viewBox='0 0 9 8' fill='none' xmlns='http://www.w3.org/2000/svg')
                                        path(d='M4.31807 3.95342L1.8213 7.63902e-08L0 0L2.4981 3.95579L0.023996 7.87234L1.8455 7.87234L4.31807 3.95342Z' fill='#00AEEF')
                                        path(d='M8.31807 3.95342L5.8213 7.63902e-08L4 0L6.4981 3.95579L4.024 7.87234L5.8455 7.87234L8.31807 3.95342Z' fill='#002D67')
                                    p.key-indicators__tabs-info Объем нового бизнеса
                                    p.key-indicators__tabs-number 48
                                .key-indicators__tabs-row 
                                    svg(viewBox='0 0 9 8' fill='none' xmlns='http://www.w3.org/2000/svg')
                                        path(d='M4.31807 3.95342L1.8213 7.63902e-08L0 0L2.4981 3.95579L0.023996 7.87234L1.8455 7.87234L4.31807 3.95342Z' fill='#00AEEF')
                                        path(d='M8.31807 3.95342L5.8213 7.63902e-08L4 0L6.4981 3.95579L4.024 7.87234L5.8455 7.87234L8.31807 3.95342Z' fill='#002D67')
                                    p.key-indicators__tabs-info Лизинговые платежи
                                    p.key-indicators__tabs-number 50
                                .key-indicators__tabs-row 
                                    svg(viewBox='0 0 9 8' fill='none' xmlns='http://www.w3.org/2000/svg')
                                        path(d='M4.31807 3.95342L1.8213 7.63902e-08L0 0L2.4981 3.95579L0.023996 7.87234L1.8455 7.87234L4.31807 3.95342Z' fill='#00AEEF')
                                        path(d='M8.31807 3.95342L5.8213 7.63902e-08L4 0L6.4981 3.95579L4.024 7.87234L5.8455 7.87234L8.31807 3.95342Z' fill='#002D67')
                                    p.key-indicators__tabs-info Лизинговый портфель
                                    p.key-indicators__tabs-number 50
                                .key-indicators__tabs-row 
                                    svg(viewBox='0 0 9 8' fill='none' xmlns='http://www.w3.org/2000/svg')
                                        path(d='M4.31807 3.95342L1.8213 7.63902e-08L0 0L2.4981 3.95579L0.023996 7.87234L1.8455 7.87234L4.31807 3.95342Z' fill='#00AEEF')
                                        path(d='M8.31807 3.95342L5.8213 7.63902e-08L4 0L6.4981 3.95579L4.024 7.87234L5.8455 7.87234L8.31807 3.95342Z' fill='#002D67')
                                    p.key-indicators__tabs-info Заключенные сделки
                                    p.key-indicators__tabs-number 50

                        .key-indicators__tabs-item
                            .key-indicators__tabs-title
                                svg(viewBox='0 0 12 6' fill='none' xmlns='http://www.w3.org/2000/svg')
                                    path(d='M5.67541 6L11.4004 2.53072L11.4004 0L5.67198 3.47113L0.000389099 0.0333427V2.56435L5.67541 6Z') 
                                p Отраслевой рэнкинг «Эксперт РА 2019» по видам оборудования
                            .key-indicators__tabs-list
                                .key-indicators__tabs-row 
                                    svg(viewBox='0 0 9 8' fill='none' xmlns='http://www.w3.org/2000/svg')
                                        path(d='M4.31807 3.95342L1.8213 7.63902e-08L0 0L2.4981 3.95579L0.023996 7.87234L1.8455 7.87234L4.31807 3.95342Z' fill='#00AEEF')
                                        path(d='M8.31807 3.95342L5.8213 7.63902e-08L4 0L6.4981 3.95579L4.024 7.87234L5.8455 7.87234L8.31807 3.95342Z' fill='#002D67')
                                    p.key-indicators__tabs-info Нефте-газодобыча
                                    p.key-indicators__tabs-number 48
                                .key-indicators__tabs-row 
                                    svg(viewBox='0 0 9 8' fill='none' xmlns='http://www.w3.org/2000/svg')
                                        path(d='M4.31807 3.95342L1.8213 7.63902e-08L0 0L2.4981 3.95579L0.023996 7.87234L1.8455 7.87234L4.31807 3.95342Z' fill='#00AEEF')
                                        path(d='M8.31807 3.95342L5.8213 7.63902e-08L4 0L6.4981 3.95579L4.024 7.87234L5.8455 7.87234L8.31807 3.95342Z' fill='#002D67')
                                    p.key-indicators__tabs-info Пищевая промышленность
                                    p.key-indicators__tabs-number 50
                                .key-indicators__tabs-row 
                                    svg(viewBox='0 0 9 8' fill='none' xmlns='http://www.w3.org/2000/svg')
                                        path(d='M4.31807 3.95342L1.8213 7.63902e-08L0 0L2.4981 3.95579L0.023996 7.87234L1.8455 7.87234L4.31807 3.95342Z' fill='#00AEEF')
                                        path(d='M8.31807 3.95342L5.8213 7.63902e-08L4 0L6.4981 3.95579L4.024 7.87234L5.8455 7.87234L8.31807 3.95342Z' fill='#002D67')
                                    p.key-indicators__tabs-info Спецтехника
                                    p.key-indicators__tabs-number 50
                                .key-indicators__tabs-row 
                                    svg(viewBox='0 0 9 8' fill='none' xmlns='http://www.w3.org/2000/svg')
                                        path(d='M4.31807 3.95342L1.8213 7.63902e-08L0 0L2.4981 3.95579L0.023996 7.87234L1.8455 7.87234L4.31807 3.95342Z' fill='#00AEEF')
                                        path(d='M8.31807 3.95342L5.8213 7.63902e-08L4 0L6.4981 3.95579L4.024 7.87234L5.8455 7.87234L8.31807 3.95342Z' fill='#002D67')
                                    p.key-indicators__tabs-info Грузовой автотранспорт
                                    p.key-indicators__tabs-number 50
                        .key-indicators__tabs-item
                            .key-indicators__tabs-title
                                svg(viewBox='0 0 12 6' fill='none' xmlns='http://www.w3.org/2000/svg')
                                    path(d='M5.67541 6L11.4004 2.53072L11.4004 0L5.67198 3.47113L0.000389099 0.0333427V2.56435L5.67541 6Z') 
                                p Рэнкинг по размеру клиентов «Эксперт РА 2019»
                            .key-indicators__tabs-list
                                .key-indicators__tabs-row 
                                    svg(viewBox='0 0 9 8' fill='none' xmlns='http://www.w3.org/2000/svg')
                                        path(d='M4.31807 3.95342L1.8213 7.63902e-08L0 0L2.4981 3.95579L0.023996 7.87234L1.8455 7.87234L4.31807 3.95342Z' fill='#00AEEF')
                                        path(d='M8.31807 3.95342L5.8213 7.63902e-08L4 0L6.4981 3.95579L4.024 7.87234L5.8455 7.87234L8.31807 3.95342Z' fill='#002D67')
                                    p.key-indicators__tabs-info Крупный бизнес
                                    p.key-indicators__tabs-number 48
                                .key-indicators__tabs-row 
                                    svg(viewBox='0 0 9 8' fill='none' xmlns='http://www.w3.org/2000/svg')
                                        path(d='M4.31807 3.95342L1.8213 7.63902e-08L0 0L2.4981 3.95579L0.023996 7.87234L1.8455 7.87234L4.31807 3.95342Z' fill='#00AEEF')
                                        path(d='M8.31807 3.95342L5.8213 7.63902e-08L4 0L6.4981 3.95579L4.024 7.87234L5.8455 7.87234L8.31807 3.95342Z' fill='#002D67')
                                    p.key-indicators__tabs-info Средний бизнес
                                    p.key-indicators__tabs-number 50
                                .key-indicators__tabs-row 
                                    svg(viewBox='0 0 9 8' fill='none' xmlns='http://www.w3.org/2000/svg')
                                        path(d='M4.31807 3.95342L1.8213 7.63902e-08L0 0L2.4981 3.95579L0.023996 7.87234L1.8455 7.87234L4.31807 3.95342Z' fill='#00AEEF')
                                        path(d='M8.31807 3.95342L5.8213 7.63902e-08L4 0L6.4981 3.95579L4.024 7.87234L5.8455 7.87234L8.31807 3.95342Z' fill='#002D67')
                                    p.key-indicators__tabs-info Малый бизнес
                                    p.key-indicators__tabs-number 50
                        .key-indicators__tabs-item
                            .key-indicators__tabs-title
                                svg(viewBox='0 0 12 6' fill='none' xmlns='http://www.w3.org/2000/svg')
                                    path(d='M5.67541 6L11.4004 2.53072L11.4004 0L5.67198 3.47113L0.000389099 0.0333427V2.56435L5.67541 6Z') 
                                p Региональные рэнкинги
                            .key-indicators__tabs-list
                                .key-indicators__tabs-row 
                                    svg(viewBox='0 0 9 8' fill='none' xmlns='http://www.w3.org/2000/svg')
                                        path(d='M4.31807 3.95342L1.8213 7.63902e-08L0 0L2.4981 3.95579L0.023996 7.87234L1.8455 7.87234L4.31807 3.95342Z' fill='#00AEEF')
                                        path(d='M8.31807 3.95342L5.8213 7.63902e-08L4 0L6.4981 3.95579L4.024 7.87234L5.8455 7.87234L8.31807 3.95342Z' fill='#002D67')
                                    p.key-indicators__tabs-info Уральский ФО
                                    p.key-indicators__tabs-number 25 
                                .key-indicators__tabs-row 
                                    svg(viewBox='0 0 9 8' fill='none' xmlns='http://www.w3.org/2000/svg')
                                        path(d='M4.31807 3.95342L1.8213 7.63902e-08L0 0L2.4981 3.95579L0.023996 7.87234L1.8455 7.87234L4.31807 3.95342Z' fill='#00AEEF')
                                        path(d='M8.31807 3.95342L5.8213 7.63902e-08L4 0L6.4981 3.95579L4.024 7.87234L5.8455 7.87234L8.31807 3.95342Z' fill='#002D67')
                                    p.key-indicators__tabs-info Сибирский ФО
                                    p.key-indicators__tabs-number 28
                                .key-indicators__tabs-row 
                                    svg(viewBox='0 0 9 8' fill='none' xmlns='http://www.w3.org/2000/svg')
                                        path(d='M4.31807 3.95342L1.8213 7.63902e-08L0 0L2.4981 3.95579L0.023996 7.87234L1.8455 7.87234L4.31807 3.95342Z' fill='#00AEEF')
                                        path(d='M8.31807 3.95342L5.8213 7.63902e-08L4 0L6.4981 3.95579L4.024 7.87234L5.8455 7.87234L8.31807 3.95342Z' fill='#002D67')
                                    p.key-indicators__tabs-info Северо-Западный ФО
                                    p.key-indicators__tabs-number 45
            .key-indicators__item.toogles2__item
                p.key-indicators__number.toogles2__item-title 2018
                .key-indicators__box.toogles2__item-box
                    .key-indicators__tabs-wrap
                        .key-indicators__tabs-item
                            .key-indicators__tabs-title
                                svg(viewBox='0 0 12 6' fill='none' xmlns='http://www.w3.org/2000/svg')
                                    path(d='M5.67541 6L11.4004 2.53072L11.4004 0L5.67198 3.47113L0.000389099 0.0333427V2.56435L5.67541 6Z') 
                                p Рыночный рэнкинг Эксперт РА 2019
                                    span.key-indicators__tabs-descr место в ТОП компаний РФ
                            .key-indicators__tabs-list
                                .key-indicators__tabs-row 
                                    svg(viewBox='0 0 9 8' fill='none' xmlns='http://www.w3.org/2000/svg')
                                        path(d='M4.31807 3.95342L1.8213 7.63902e-08L0 0L2.4981 3.95579L0.023996 7.87234L1.8455 7.87234L4.31807 3.95342Z' fill='#00AEEF')
                                        path(d='M8.31807 3.95342L5.8213 7.63902e-08L4 0L6.4981 3.95579L4.024 7.87234L5.8455 7.87234L8.31807 3.95342Z' fill='#002D67')
                                    p.key-indicators__tabs-info Объем нового бизнеса
                                    p.key-indicators__tabs-number 48
                                .key-indicators__tabs-row 
                                    svg(viewBox='0 0 9 8' fill='none' xmlns='http://www.w3.org/2000/svg')
                                        path(d='M4.31807 3.95342L1.8213 7.63902e-08L0 0L2.4981 3.95579L0.023996 7.87234L1.8455 7.87234L4.31807 3.95342Z' fill='#00AEEF')
                                        path(d='M8.31807 3.95342L5.8213 7.63902e-08L4 0L6.4981 3.95579L4.024 7.87234L5.8455 7.87234L8.31807 3.95342Z' fill='#002D67')
                                    p.key-indicators__tabs-info Лизинговые платежи
                                    p.key-indicators__tabs-number 50
                                .key-indicators__tabs-row 
                                    svg(viewBox='0 0 9 8' fill='none' xmlns='http://www.w3.org/2000/svg')
                                        path(d='M4.31807 3.95342L1.8213 7.63902e-08L0 0L2.4981 3.95579L0.023996 7.87234L1.8455 7.87234L4.31807 3.95342Z' fill='#00AEEF')
                                        path(d='M8.31807 3.95342L5.8213 7.63902e-08L4 0L6.4981 3.95579L4.024 7.87234L5.8455 7.87234L8.31807 3.95342Z' fill='#002D67')
                                    p.key-indicators__tabs-info Лизинговый портфель
                                    p.key-indicators__tabs-number 50
                                .key-indicators__tabs-row 
                                    svg(viewBox='0 0 9 8' fill='none' xmlns='http://www.w3.org/2000/svg')
                                        path(d='M4.31807 3.95342L1.8213 7.63902e-08L0 0L2.4981 3.95579L0.023996 7.87234L1.8455 7.87234L4.31807 3.95342Z' fill='#00AEEF')
                                        path(d='M8.31807 3.95342L5.8213 7.63902e-08L4 0L6.4981 3.95579L4.024 7.87234L5.8455 7.87234L8.31807 3.95342Z' fill='#002D67')
                                    p.key-indicators__tabs-info Заключенные сделки
                                    p.key-indicators__tabs-number 50

                        .key-indicators__tabs-item
                            .key-indicators__tabs-title
                                svg(viewBox='0 0 12 6' fill='none' xmlns='http://www.w3.org/2000/svg')
                                    path(d='M5.67541 6L11.4004 2.53072L11.4004 0L5.67198 3.47113L0.000389099 0.0333427V2.56435L5.67541 6Z') 
                                p Отраслевой рэнкинг «Эксперт РА 2019» по видам оборудования
                            .key-indicators__tabs-list
                                .key-indicators__tabs-row 
                                    svg(viewBox='0 0 9 8' fill='none' xmlns='http://www.w3.org/2000/svg')
                                        path(d='M4.31807 3.95342L1.8213 7.63902e-08L0 0L2.4981 3.95579L0.023996 7.87234L1.8455 7.87234L4.31807 3.95342Z' fill='#00AEEF')
                                        path(d='M8.31807 3.95342L5.8213 7.63902e-08L4 0L6.4981 3.95579L4.024 7.87234L5.8455 7.87234L8.31807 3.95342Z' fill='#002D67')
                                    p.key-indicators__tabs-info Нефте-газодобыча
                                    p.key-indicators__tabs-number 48
                                .key-indicators__tabs-row 
                                    svg(viewBox='0 0 9 8' fill='none' xmlns='http://www.w3.org/2000/svg')
                                        path(d='M4.31807 3.95342L1.8213 7.63902e-08L0 0L2.4981 3.95579L0.023996 7.87234L1.8455 7.87234L4.31807 3.95342Z' fill='#00AEEF')
                                        path(d='M8.31807 3.95342L5.8213 7.63902e-08L4 0L6.4981 3.95579L4.024 7.87234L5.8455 7.87234L8.31807 3.95342Z' fill='#002D67')
                                    p.key-indicators__tabs-info Пищевая промышленность
                                    p.key-indicators__tabs-number 50
                                .key-indicators__tabs-row 
                                    svg(viewBox='0 0 9 8' fill='none' xmlns='http://www.w3.org/2000/svg')
                                        path(d='M4.31807 3.95342L1.8213 7.63902e-08L0 0L2.4981 3.95579L0.023996 7.87234L1.8455 7.87234L4.31807 3.95342Z' fill='#00AEEF')
                                        path(d='M8.31807 3.95342L5.8213 7.63902e-08L4 0L6.4981 3.95579L4.024 7.87234L5.8455 7.87234L8.31807 3.95342Z' fill='#002D67')
                                    p.key-indicators__tabs-info Спецтехника
                                    p.key-indicators__tabs-number 50
                                .key-indicators__tabs-row 
                                    svg(viewBox='0 0 9 8' fill='none' xmlns='http://www.w3.org/2000/svg')
                                        path(d='M4.31807 3.95342L1.8213 7.63902e-08L0 0L2.4981 3.95579L0.023996 7.87234L1.8455 7.87234L4.31807 3.95342Z' fill='#00AEEF')
                                        path(d='M8.31807 3.95342L5.8213 7.63902e-08L4 0L6.4981 3.95579L4.024 7.87234L5.8455 7.87234L8.31807 3.95342Z' fill='#002D67')
                                    p.key-indicators__tabs-info Грузовой автотранспорт
                                    p.key-indicators__tabs-number 50
                        .key-indicators__tabs-item
                            .key-indicators__tabs-title
                                svg(viewBox='0 0 12 6' fill='none' xmlns='http://www.w3.org/2000/svg')
                                    path(d='M5.67541 6L11.4004 2.53072L11.4004 0L5.67198 3.47113L0.000389099 0.0333427V2.56435L5.67541 6Z') 
                                p Рэнкинг по размеру клиентов «Эксперт РА 2019»
                            .key-indicators__tabs-list
                                .key-indicators__tabs-row 
                                    svg(viewBox='0 0 9 8' fill='none' xmlns='http://www.w3.org/2000/svg')
                                        path(d='M4.31807 3.95342L1.8213 7.63902e-08L0 0L2.4981 3.95579L0.023996 7.87234L1.8455 7.87234L4.31807 3.95342Z' fill='#00AEEF')
                                        path(d='M8.31807 3.95342L5.8213 7.63902e-08L4 0L6.4981 3.95579L4.024 7.87234L5.8455 7.87234L8.31807 3.95342Z' fill='#002D67')
                                    p.key-indicators__tabs-info Крупный бизнес
                                    p.key-indicators__tabs-number 48
                                .key-indicators__tabs-row 
                                    svg(viewBox='0 0 9 8' fill='none' xmlns='http://www.w3.org/2000/svg')
                                        path(d='M4.31807 3.95342L1.8213 7.63902e-08L0 0L2.4981 3.95579L0.023996 7.87234L1.8455 7.87234L4.31807 3.95342Z' fill='#00AEEF')
                                        path(d='M8.31807 3.95342L5.8213 7.63902e-08L4 0L6.4981 3.95579L4.024 7.87234L5.8455 7.87234L8.31807 3.95342Z' fill='#002D67')
                                    p.key-indicators__tabs-info Средний бизнес
                                    p.key-indicators__tabs-number 50
                                .key-indicators__tabs-row 
                                    svg(viewBox='0 0 9 8' fill='none' xmlns='http://www.w3.org/2000/svg')
                                        path(d='M4.31807 3.95342L1.8213 7.63902e-08L0 0L2.4981 3.95579L0.023996 7.87234L1.8455 7.87234L4.31807 3.95342Z' fill='#00AEEF')
                                        path(d='M8.31807 3.95342L5.8213 7.63902e-08L4 0L6.4981 3.95579L4.024 7.87234L5.8455 7.87234L8.31807 3.95342Z' fill='#002D67')
                                    p.key-indicators__tabs-info Малый бизнес
                                    p.key-indicators__tabs-number 50
                        .key-indicators__tabs-item.key-indicators__tabs-item--desktop
                            .key-indicators__tabs-title
                                svg(viewBox='0 0 12 6' fill='none' xmlns='http://www.w3.org/2000/svg')
                                    path(d='M5.67541 6L11.4004 2.53072L11.4004 0L5.67198 3.47113L0.000389099 0.0333427V2.56435L5.67541 6Z') 
                                p Региональные рэнкинги
                            .key-indicators__tabs-list
                                .key-indicators__tabs-row 
                                    svg(viewBox='0 0 9 8' fill='none' xmlns='http://www.w3.org/2000/svg')
                                        path(d='M4.31807 3.95342L1.8213 7.63902e-08L0 0L2.4981 3.95579L0.023996 7.87234L1.8455 7.87234L4.31807 3.95342Z' fill='#00AEEF')
                                        path(d='M8.31807 3.95342L5.8213 7.63902e-08L4 0L6.4981 3.95579L4.024 7.87234L5.8455 7.87234L8.31807 3.95342Z' fill='#002D67')
                                    p.key-indicators__tabs-info Уральский ФО
                                    p.key-indicators__tabs-number 25 
                                .key-indicators__tabs-row 
                                    svg(viewBox='0 0 9 8' fill='none' xmlns='http://www.w3.org/2000/svg')
                                        path(d='M4.31807 3.95342L1.8213 7.63902e-08L0 0L2.4981 3.95579L0.023996 7.87234L1.8455 7.87234L4.31807 3.95342Z' fill='#00AEEF')
                                        path(d='M8.31807 3.95342L5.8213 7.63902e-08L4 0L6.4981 3.95579L4.024 7.87234L5.8455 7.87234L8.31807 3.95342Z' fill='#002D67')
                                    p.key-indicators__tabs-info Сибирский ФО
                                    p.key-indicators__tabs-number 28
                                .key-indicators__tabs-row 
                                    svg(viewBox='0 0 9 8' fill='none' xmlns='http://www.w3.org/2000/svg')
                                        path(d='M4.31807 3.95342L1.8213 7.63902e-08L0 0L2.4981 3.95579L0.023996 7.87234L1.8455 7.87234L4.31807 3.95342Z' fill='#00AEEF')
                                        path(d='M8.31807 3.95342L5.8213 7.63902e-08L4 0L6.4981 3.95579L4.024 7.87234L5.8455 7.87234L8.31807 3.95342Z' fill='#002D67')
                                    p.key-indicators__tabs-info Северо-Западный ФО
                                    p.key-indicators__tabs-number 45
            .key-indicators__item.toogles2__item.key-indicators__item--desktop
                p.key-indicators__number.toogles2__item-title 2017
                .key-indicators__box.toogles2__item-box
                    .key-indicators__tabs-wrap
                        .key-indicators__tabs-item
                            .key-indicators__tabs-title
                                svg(viewBox='0 0 12 6' fill='none' xmlns='http://www.w3.org/2000/svg')
                                    path(d='M5.67541 6L11.4004 2.53072L11.4004 0L5.67198 3.47113L0.000389099 0.0333427V2.56435L5.67541 6Z') 
                                p Рыночный рэнкинг Эксперт РА 2019
                                    span.key-indicators__tabs-descr место в ТОП компаний РФ
                            .key-indicators__tabs-list
                                .key-indicators__tabs-row 
                                    svg(viewBox='0 0 9 8' fill='none' xmlns='http://www.w3.org/2000/svg')
                                        path(d='M4.31807 3.95342L1.8213 7.63902e-08L0 0L2.4981 3.95579L0.023996 7.87234L1.8455 7.87234L4.31807 3.95342Z' fill='#00AEEF')
                                        path(d='M8.31807 3.95342L5.8213 7.63902e-08L4 0L6.4981 3.95579L4.024 7.87234L5.8455 7.87234L8.31807 3.95342Z' fill='#002D67')
                                    p.key-indicators__tabs-info Объем нового бизнеса
                                    p.key-indicators__tabs-number 48
                                .key-indicators__tabs-row 
                                    svg(viewBox='0 0 9 8' fill='none' xmlns='http://www.w3.org/2000/svg')
                                        path(d='M4.31807 3.95342L1.8213 7.63902e-08L0 0L2.4981 3.95579L0.023996 7.87234L1.8455 7.87234L4.31807 3.95342Z' fill='#00AEEF')
                                        path(d='M8.31807 3.95342L5.8213 7.63902e-08L4 0L6.4981 3.95579L4.024 7.87234L5.8455 7.87234L8.31807 3.95342Z' fill='#002D67')
                                    p.key-indicators__tabs-info Лизинговые платежи
                                    p.key-indicators__tabs-number 50
                                .key-indicators__tabs-row 
                                    svg(viewBox='0 0 9 8' fill='none' xmlns='http://www.w3.org/2000/svg')
                                        path(d='M4.31807 3.95342L1.8213 7.63902e-08L0 0L2.4981 3.95579L0.023996 7.87234L1.8455 7.87234L4.31807 3.95342Z' fill='#00AEEF')
                                        path(d='M8.31807 3.95342L5.8213 7.63902e-08L4 0L6.4981 3.95579L4.024 7.87234L5.8455 7.87234L8.31807 3.95342Z' fill='#002D67')
                                    p.key-indicators__tabs-info Лизинговый портфель
                                    p.key-indicators__tabs-number 50
                                .key-indicators__tabs-row 
                                    svg(viewBox='0 0 9 8' fill='none' xmlns='http://www.w3.org/2000/svg')
                                        path(d='M4.31807 3.95342L1.8213 7.63902e-08L0 0L2.4981 3.95579L0.023996 7.87234L1.8455 7.87234L4.31807 3.95342Z' fill='#00AEEF')
                                        path(d='M8.31807 3.95342L5.8213 7.63902e-08L4 0L6.4981 3.95579L4.024 7.87234L5.8455 7.87234L8.31807 3.95342Z' fill='#002D67')
                                    p.key-indicators__tabs-info Заключенные сделки
                                    p.key-indicators__tabs-number 50

                        .key-indicators__tabs-item
                            .key-indicators__tabs-title
                                svg(viewBox='0 0 12 6' fill='none' xmlns='http://www.w3.org/2000/svg')
                                    path(d='M5.67541 6L11.4004 2.53072L11.4004 0L5.67198 3.47113L0.000389099 0.0333427V2.56435L5.67541 6Z') 
                                p Отраслевой рэнкинг «Эксперт РА 2019» по видам оборудования
                            .key-indicators__tabs-list
                                .key-indicators__tabs-row 
                                    svg(viewBox='0 0 9 8' fill='none' xmlns='http://www.w3.org/2000/svg')
                                        path(d='M4.31807 3.95342L1.8213 7.63902e-08L0 0L2.4981 3.95579L0.023996 7.87234L1.8455 7.87234L4.31807 3.95342Z' fill='#00AEEF')
                                        path(d='M8.31807 3.95342L5.8213 7.63902e-08L4 0L6.4981 3.95579L4.024 7.87234L5.8455 7.87234L8.31807 3.95342Z' fill='#002D67')
                                    p.key-indicators__tabs-info Нефте-газодобыча
                                    p.key-indicators__tabs-number 48
                                .key-indicators__tabs-row 
                                    svg(viewBox='0 0 9 8' fill='none' xmlns='http://www.w3.org/2000/svg')
                                        path(d='M4.31807 3.95342L1.8213 7.63902e-08L0 0L2.4981 3.95579L0.023996 7.87234L1.8455 7.87234L4.31807 3.95342Z' fill='#00AEEF')
                                        path(d='M8.31807 3.95342L5.8213 7.63902e-08L4 0L6.4981 3.95579L4.024 7.87234L5.8455 7.87234L8.31807 3.95342Z' fill='#002D67')
                                    p.key-indicators__tabs-info Пищевая промышленность
                                    p.key-indicators__tabs-number 50
                                .key-indicators__tabs-row 
                                    svg(viewBox='0 0 9 8' fill='none' xmlns='http://www.w3.org/2000/svg')
                                        path(d='M4.31807 3.95342L1.8213 7.63902e-08L0 0L2.4981 3.95579L0.023996 7.87234L1.8455 7.87234L4.31807 3.95342Z' fill='#00AEEF')
                                        path(d='M8.31807 3.95342L5.8213 7.63902e-08L4 0L6.4981 3.95579L4.024 7.87234L5.8455 7.87234L8.31807 3.95342Z' fill='#002D67')
                                    p.key-indicators__tabs-info Спецтехника
                                    p.key-indicators__tabs-number 50
                                .key-indicators__tabs-row 
                                    svg(viewBox='0 0 9 8' fill='none' xmlns='http://www.w3.org/2000/svg')
                                        path(d='M4.31807 3.95342L1.8213 7.63902e-08L0 0L2.4981 3.95579L0.023996 7.87234L1.8455 7.87234L4.31807 3.95342Z' fill='#00AEEF')
                                        path(d='M8.31807 3.95342L5.8213 7.63902e-08L4 0L6.4981 3.95579L4.024 7.87234L5.8455 7.87234L8.31807 3.95342Z' fill='#002D67')
                                    p.key-indicators__tabs-info Грузовой автотранспорт
                                    p.key-indicators__tabs-number 50
                        .key-indicators__tabs-item
                            .key-indicators__tabs-title
                                svg(viewBox='0 0 12 6' fill='none' xmlns='http://www.w3.org/2000/svg')
                                    path(d='M5.67541 6L11.4004 2.53072L11.4004 0L5.67198 3.47113L0.000389099 0.0333427V2.56435L5.67541 6Z') 
                                p Рэнкинг по размеру клиентов «Эксперт РА 2019»
                            .key-indicators__tabs-list
                                .key-indicators__tabs-row 
                                    svg(viewBox='0 0 9 8' fill='none' xmlns='http://www.w3.org/2000/svg')
                                        path(d='M4.31807 3.95342L1.8213 7.63902e-08L0 0L2.4981 3.95579L0.023996 7.87234L1.8455 7.87234L4.31807 3.95342Z' fill='#00AEEF')
                                        path(d='M8.31807 3.95342L5.8213 7.63902e-08L4 0L6.4981 3.95579L4.024 7.87234L5.8455 7.87234L8.31807 3.95342Z' fill='#002D67')
                                    p.key-indicators__tabs-info Крупный бизнес
                                    p.key-indicators__tabs-number 48
                                .key-indicators__tabs-row 
                                    svg(viewBox='0 0 9 8' fill='none' xmlns='http://www.w3.org/2000/svg')
                                        path(d='M4.31807 3.95342L1.8213 7.63902e-08L0 0L2.4981 3.95579L0.023996 7.87234L1.8455 7.87234L4.31807 3.95342Z' fill='#00AEEF')
                                        path(d='M8.31807 3.95342L5.8213 7.63902e-08L4 0L6.4981 3.95579L4.024 7.87234L5.8455 7.87234L8.31807 3.95342Z' fill='#002D67')
                                    p.key-indicators__tabs-info Средний бизнес
                                    p.key-indicators__tabs-number 50
                                .key-indicators__tabs-row 
                                    svg(viewBox='0 0 9 8' fill='none' xmlns='http://www.w3.org/2000/svg')
                                        path(d='M4.31807 3.95342L1.8213 7.63902e-08L0 0L2.4981 3.95579L0.023996 7.87234L1.8455 7.87234L4.31807 3.95342Z' fill='#00AEEF')
                                        path(d='M8.31807 3.95342L5.8213 7.63902e-08L4 0L6.4981 3.95579L4.024 7.87234L5.8455 7.87234L8.31807 3.95342Z' fill='#002D67')
                                    p.key-indicators__tabs-info Малый бизнес
                                    p.key-indicators__tabs-number 50
                        .key-indicators__tabs-item
                            .key-indicators__tabs-title
                                svg(viewBox='0 0 12 6' fill='none' xmlns='http://www.w3.org/2000/svg')
                                    path(d='M5.67541 6L11.4004 2.53072L11.4004 0L5.67198 3.47113L0.000389099 0.0333427V2.56435L5.67541 6Z') 
                                p Региональные рэнкинги
                            .key-indicators__tabs-list
                                .key-indicators__tabs-row 
                                    svg(viewBox='0 0 9 8' fill='none' xmlns='http://www.w3.org/2000/svg')
                                        path(d='M4.31807 3.95342L1.8213 7.63902e-08L0 0L2.4981 3.95579L0.023996 7.87234L1.8455 7.87234L4.31807 3.95342Z' fill='#00AEEF')
                                        path(d='M8.31807 3.95342L5.8213 7.63902e-08L4 0L6.4981 3.95579L4.024 7.87234L5.8455 7.87234L8.31807 3.95342Z' fill='#002D67')
                                    p.key-indicators__tabs-info Уральский ФО
                                    p.key-indicators__tabs-number 25 
                                .key-indicators__tabs-row 
                                    svg(viewBox='0 0 9 8' fill='none' xmlns='http://www.w3.org/2000/svg')
                                        path(d='M4.31807 3.95342L1.8213 7.63902e-08L0 0L2.4981 3.95579L0.023996 7.87234L1.8455 7.87234L4.31807 3.95342Z' fill='#00AEEF')
                                        path(d='M8.31807 3.95342L5.8213 7.63902e-08L4 0L6.4981 3.95579L4.024 7.87234L5.8455 7.87234L8.31807 3.95342Z' fill='#002D67')
                                    p.key-indicators__tabs-info Сибирский ФО
                                    p.key-indicators__tabs-number 28
                                .key-indicators__tabs-row 
                                    svg(viewBox='0 0 9 8' fill='none' xmlns='http://www.w3.org/2000/svg')
                                        path(d='M4.31807 3.95342L1.8213 7.63902e-08L0 0L2.4981 3.95579L0.023996 7.87234L1.8455 7.87234L4.31807 3.95342Z' fill='#00AEEF')
                                        path(d='M8.31807 3.95342L5.8213 7.63902e-08L4 0L6.4981 3.95579L4.024 7.87234L5.8455 7.87234L8.31807 3.95342Z' fill='#002D67')
                                    p.key-indicators__tabs-info Северо-Западный ФО
                                    p.key-indicators__tabs-number 45
            .key-indicators__item.toogles2__item.key-indicators__item--desktop
                p.key-indicators__number.toogles2__item-title 2016
                .key-indicators__box.toogles2__item-box
                    .key-indicators__tabs-wrap
                        .key-indicators__tabs-item
                            .key-indicators__tabs-title
                                svg(viewBox='0 0 12 6' fill='none' xmlns='http://www.w3.org/2000/svg')
                                    path(d='M5.67541 6L11.4004 2.53072L11.4004 0L5.67198 3.47113L0.000389099 0.0333427V2.56435L5.67541 6Z') 
                                p Рыночный рэнкинг Эксперт РА 2019
                                    span.key-indicators__tabs-descr место в ТОП компаний РФ
                            .key-indicators__tabs-list
                                .key-indicators__tabs-row 
                                    svg(viewBox='0 0 9 8' fill='none' xmlns='http://www.w3.org/2000/svg')
                                        path(d='M4.31807 3.95342L1.8213 7.63902e-08L0 0L2.4981 3.95579L0.023996 7.87234L1.8455 7.87234L4.31807 3.95342Z' fill='#00AEEF')
                                        path(d='M8.31807 3.95342L5.8213 7.63902e-08L4 0L6.4981 3.95579L4.024 7.87234L5.8455 7.87234L8.31807 3.95342Z' fill='#002D67')
                                    p.key-indicators__tabs-info Объем нового бизнеса
                                    p.key-indicators__tabs-number 48
                                .key-indicators__tabs-row 
                                    svg(viewBox='0 0 9 8' fill='none' xmlns='http://www.w3.org/2000/svg')
                                        path(d='M4.31807 3.95342L1.8213 7.63902e-08L0 0L2.4981 3.95579L0.023996 7.87234L1.8455 7.87234L4.31807 3.95342Z' fill='#00AEEF')
                                        path(d='M8.31807 3.95342L5.8213 7.63902e-08L4 0L6.4981 3.95579L4.024 7.87234L5.8455 7.87234L8.31807 3.95342Z' fill='#002D67')
                                    p.key-indicators__tabs-info Лизинговые платежи
                                    p.key-indicators__tabs-number 50
                                .key-indicators__tabs-row 
                                    svg(viewBox='0 0 9 8' fill='none' xmlns='http://www.w3.org/2000/svg')
                                        path(d='M4.31807 3.95342L1.8213 7.63902e-08L0 0L2.4981 3.95579L0.023996 7.87234L1.8455 7.87234L4.31807 3.95342Z' fill='#00AEEF')
                                        path(d='M8.31807 3.95342L5.8213 7.63902e-08L4 0L6.4981 3.95579L4.024 7.87234L5.8455 7.87234L8.31807 3.95342Z' fill='#002D67')
                                    p.key-indicators__tabs-info Лизинговый портфель
                                    p.key-indicators__tabs-number 50
                                .key-indicators__tabs-row 
                                    svg(viewBox='0 0 9 8' fill='none' xmlns='http://www.w3.org/2000/svg')
                                        path(d='M4.31807 3.95342L1.8213 7.63902e-08L0 0L2.4981 3.95579L0.023996 7.87234L1.8455 7.87234L4.31807 3.95342Z' fill='#00AEEF')
                                        path(d='M8.31807 3.95342L5.8213 7.63902e-08L4 0L6.4981 3.95579L4.024 7.87234L5.8455 7.87234L8.31807 3.95342Z' fill='#002D67')
                                    p.key-indicators__tabs-info Заключенные сделки
                                    p.key-indicators__tabs-number 50

                        .key-indicators__tabs-item
                            .key-indicators__tabs-title
                                svg(viewBox='0 0 12 6' fill='none' xmlns='http://www.w3.org/2000/svg')
                                    path(d='M5.67541 6L11.4004 2.53072L11.4004 0L5.67198 3.47113L0.000389099 0.0333427V2.56435L5.67541 6Z') 
                                p Отраслевой рэнкинг «Эксперт РА 2019» по видам оборудования
                            .key-indicators__tabs-list
                                .key-indicators__tabs-row 
                                    svg(viewBox='0 0 9 8' fill='none' xmlns='http://www.w3.org/2000/svg')
                                        path(d='M4.31807 3.95342L1.8213 7.63902e-08L0 0L2.4981 3.95579L0.023996 7.87234L1.8455 7.87234L4.31807 3.95342Z' fill='#00AEEF')
                                        path(d='M8.31807 3.95342L5.8213 7.63902e-08L4 0L6.4981 3.95579L4.024 7.87234L5.8455 7.87234L8.31807 3.95342Z' fill='#002D67')
                                    p.key-indicators__tabs-info Нефте-газодобыча
                                    p.key-indicators__tabs-number 48
                                .key-indicators__tabs-row 
                                    svg(viewBox='0 0 9 8' fill='none' xmlns='http://www.w3.org/2000/svg')
                                        path(d='M4.31807 3.95342L1.8213 7.63902e-08L0 0L2.4981 3.95579L0.023996 7.87234L1.8455 7.87234L4.31807 3.95342Z' fill='#00AEEF')
                                        path(d='M8.31807 3.95342L5.8213 7.63902e-08L4 0L6.4981 3.95579L4.024 7.87234L5.8455 7.87234L8.31807 3.95342Z' fill='#002D67')
                                    p.key-indicators__tabs-info Пищевая промышленность
                                    p.key-indicators__tabs-number 50
                                .key-indicators__tabs-row 
                                    svg(viewBox='0 0 9 8' fill='none' xmlns='http://www.w3.org/2000/svg')
                                        path(d='M4.31807 3.95342L1.8213 7.63902e-08L0 0L2.4981 3.95579L0.023996 7.87234L1.8455 7.87234L4.31807 3.95342Z' fill='#00AEEF')
                                        path(d='M8.31807 3.95342L5.8213 7.63902e-08L4 0L6.4981 3.95579L4.024 7.87234L5.8455 7.87234L8.31807 3.95342Z' fill='#002D67')
                                    p.key-indicators__tabs-info Спецтехника
                                    p.key-indicators__tabs-number 50
                                .key-indicators__tabs-row 
                                    svg(viewBox='0 0 9 8' fill='none' xmlns='http://www.w3.org/2000/svg')
                                        path(d='M4.31807 3.95342L1.8213 7.63902e-08L0 0L2.4981 3.95579L0.023996 7.87234L1.8455 7.87234L4.31807 3.95342Z' fill='#00AEEF')
                                        path(d='M8.31807 3.95342L5.8213 7.63902e-08L4 0L6.4981 3.95579L4.024 7.87234L5.8455 7.87234L8.31807 3.95342Z' fill='#002D67')
                                    p.key-indicators__tabs-info Грузовой автотранспорт
                                    p.key-indicators__tabs-number 50
                        .key-indicators__tabs-item
                            .key-indicators__tabs-title
                                svg(viewBox='0 0 12 6' fill='none' xmlns='http://www.w3.org/2000/svg')
                                    path(d='M5.67541 6L11.4004 2.53072L11.4004 0L5.67198 3.47113L0.000389099 0.0333427V2.56435L5.67541 6Z') 
                                p Рэнкинг по размеру клиентов «Эксперт РА 2019»
                            .key-indicators__tabs-list
                                .key-indicators__tabs-row 
                                    svg(viewBox='0 0 9 8' fill='none' xmlns='http://www.w3.org/2000/svg')
                                        path(d='M4.31807 3.95342L1.8213 7.63902e-08L0 0L2.4981 3.95579L0.023996 7.87234L1.8455 7.87234L4.31807 3.95342Z' fill='#00AEEF')
                                        path(d='M8.31807 3.95342L5.8213 7.63902e-08L4 0L6.4981 3.95579L4.024 7.87234L5.8455 7.87234L8.31807 3.95342Z' fill='#002D67')
                                    p.key-indicators__tabs-info Крупный бизнес
                                    p.key-indicators__tabs-number 48
                                .key-indicators__tabs-row 
                                    svg(viewBox='0 0 9 8' fill='none' xmlns='http://www.w3.org/2000/svg')
                                        path(d='M4.31807 3.95342L1.8213 7.63902e-08L0 0L2.4981 3.95579L0.023996 7.87234L1.8455 7.87234L4.31807 3.95342Z' fill='#00AEEF')
                                        path(d='M8.31807 3.95342L5.8213 7.63902e-08L4 0L6.4981 3.95579L4.024 7.87234L5.8455 7.87234L8.31807 3.95342Z' fill='#002D67')
                                    p.key-indicators__tabs-info Средний бизнес
                                    p.key-indicators__tabs-number 50
                                .key-indicators__tabs-row 
                                    svg(viewBox='0 0 9 8' fill='none' xmlns='http://www.w3.org/2000/svg')
                                        path(d='M4.31807 3.95342L1.8213 7.63902e-08L0 0L2.4981 3.95579L0.023996 7.87234L1.8455 7.87234L4.31807 3.95342Z' fill='#00AEEF')
                                        path(d='M8.31807 3.95342L5.8213 7.63902e-08L4 0L6.4981 3.95579L4.024 7.87234L5.8455 7.87234L8.31807 3.95342Z' fill='#002D67')
                                    p.key-indicators__tabs-info Малый бизнес
                                    p.key-indicators__tabs-number 50
                        .key-indicators__tabs-item
                            .key-indicators__tabs-title
                                svg(viewBox='0 0 12 6' fill='none' xmlns='http://www.w3.org/2000/svg')
                                    path(d='M5.67541 6L11.4004 2.53072L11.4004 0L5.67198 3.47113L0.000389099 0.0333427V2.56435L5.67541 6Z') 
                                p Региональные рэнкинги
                            .key-indicators__tabs-list
                                .key-indicators__tabs-row 
                                    svg(viewBox='0 0 9 8' fill='none' xmlns='http://www.w3.org/2000/svg')
                                        path(d='M4.31807 3.95342L1.8213 7.63902e-08L0 0L2.4981 3.95579L0.023996 7.87234L1.8455 7.87234L4.31807 3.95342Z' fill='#00AEEF')
                                        path(d='M8.31807 3.95342L5.8213 7.63902e-08L4 0L6.4981 3.95579L4.024 7.87234L5.8455 7.87234L8.31807 3.95342Z' fill='#002D67')
                                    p.key-indicators__tabs-info Уральский ФО
                                    p.key-indicators__tabs-number 25 
                                .key-indicators__tabs-row 
                                    svg(viewBox='0 0 9 8' fill='none' xmlns='http://www.w3.org/2000/svg')
                                        path(d='M4.31807 3.95342L1.8213 7.63902e-08L0 0L2.4981 3.95579L0.023996 7.87234L1.8455 7.87234L4.31807 3.95342Z' fill='#00AEEF')
                                        path(d='M8.31807 3.95342L5.8213 7.63902e-08L4 0L6.4981 3.95579L4.024 7.87234L5.8455 7.87234L8.31807 3.95342Z' fill='#002D67')
                                    p.key-indicators__tabs-info Сибирский ФО
                                    p.key-indicators__tabs-number 28
                                .key-indicators__tabs-row 
                                    svg(viewBox='0 0 9 8' fill='none' xmlns='http://www.w3.org/2000/svg')
                                        path(d='M4.31807 3.95342L1.8213 7.63902e-08L0 0L2.4981 3.95579L0.023996 7.87234L1.8455 7.87234L4.31807 3.95342Z' fill='#00AEEF')
                                        path(d='M8.31807 3.95342L5.8213 7.63902e-08L4 0L6.4981 3.95579L4.024 7.87234L5.8455 7.87234L8.31807 3.95342Z' fill='#002D67')
                                    p.key-indicators__tabs-info Северо-Западный ФО
                                    p.key-indicators__tabs-number 45
            .key-indicators__item.toogles2__item.key-indicators__item--desktop
                p.key-indicators__number.toogles2__item-title 2015
                .key-indicators__box.toogles2__item-box
                    .key-indicators__tabs-wrap
                        .key-indicators__tabs-item
                            .key-indicators__tabs-title
                                svg(viewBox='0 0 12 6' fill='none' xmlns='http://www.w3.org/2000/svg')
                                    path(d='M5.67541 6L11.4004 2.53072L11.4004 0L5.67198 3.47113L0.000389099 0.0333427V2.56435L5.67541 6Z') 
                                p Рыночный рэнкинг Эксперт РА 2019
                                    span.key-indicators__tabs-descr место в ТОП компаний РФ
                            .key-indicators__tabs-list
                                .key-indicators__tabs-row 
                                    svg(viewBox='0 0 9 8' fill='none' xmlns='http://www.w3.org/2000/svg')
                                        path(d='M4.31807 3.95342L1.8213 7.63902e-08L0 0L2.4981 3.95579L0.023996 7.87234L1.8455 7.87234L4.31807 3.95342Z' fill='#00AEEF')
                                        path(d='M8.31807 3.95342L5.8213 7.63902e-08L4 0L6.4981 3.95579L4.024 7.87234L5.8455 7.87234L8.31807 3.95342Z' fill='#002D67')
                                    p.key-indicators__tabs-info Объем нового бизнеса
                                    p.key-indicators__tabs-number 48
                                .key-indicators__tabs-row 
                                    svg(viewBox='0 0 9 8' fill='none' xmlns='http://www.w3.org/2000/svg')
                                        path(d='M4.31807 3.95342L1.8213 7.63902e-08L0 0L2.4981 3.95579L0.023996 7.87234L1.8455 7.87234L4.31807 3.95342Z' fill='#00AEEF')
                                        path(d='M8.31807 3.95342L5.8213 7.63902e-08L4 0L6.4981 3.95579L4.024 7.87234L5.8455 7.87234L8.31807 3.95342Z' fill='#002D67')
                                    p.key-indicators__tabs-info Лизинговые платежи
                                    p.key-indicators__tabs-number 50
                                .key-indicators__tabs-row 
                                    svg(viewBox='0 0 9 8' fill='none' xmlns='http://www.w3.org/2000/svg')
                                        path(d='M4.31807 3.95342L1.8213 7.63902e-08L0 0L2.4981 3.95579L0.023996 7.87234L1.8455 7.87234L4.31807 3.95342Z' fill='#00AEEF')
                                        path(d='M8.31807 3.95342L5.8213 7.63902e-08L4 0L6.4981 3.95579L4.024 7.87234L5.8455 7.87234L8.31807 3.95342Z' fill='#002D67')
                                    p.key-indicators__tabs-info Лизинговый портфель
                                    p.key-indicators__tabs-number 50
                                .key-indicators__tabs-row 
                                    svg(viewBox='0 0 9 8' fill='none' xmlns='http://www.w3.org/2000/svg')
                                        path(d='M4.31807 3.95342L1.8213 7.63902e-08L0 0L2.4981 3.95579L0.023996 7.87234L1.8455 7.87234L4.31807 3.95342Z' fill='#00AEEF')
                                        path(d='M8.31807 3.95342L5.8213 7.63902e-08L4 0L6.4981 3.95579L4.024 7.87234L5.8455 7.87234L8.31807 3.95342Z' fill='#002D67')
                                    p.key-indicators__tabs-info Заключенные сделки
                                    p.key-indicators__tabs-number 50

                        .key-indicators__tabs-item
                            .key-indicators__tabs-title
                                svg(viewBox='0 0 12 6' fill='none' xmlns='http://www.w3.org/2000/svg')
                                    path(d='M5.67541 6L11.4004 2.53072L11.4004 0L5.67198 3.47113L0.000389099 0.0333427V2.56435L5.67541 6Z') 
                                p Отраслевой рэнкинг «Эксперт РА 2019» по видам оборудования
                            .key-indicators__tabs-list
                                .key-indicators__tabs-row 
                                    svg(viewBox='0 0 9 8' fill='none' xmlns='http://www.w3.org/2000/svg')
                                        path(d='M4.31807 3.95342L1.8213 7.63902e-08L0 0L2.4981 3.95579L0.023996 7.87234L1.8455 7.87234L4.31807 3.95342Z' fill='#00AEEF')
                                        path(d='M8.31807 3.95342L5.8213 7.63902e-08L4 0L6.4981 3.95579L4.024 7.87234L5.8455 7.87234L8.31807 3.95342Z' fill='#002D67')
                                    p.key-indicators__tabs-info Нефте-газодобыча
                                    p.key-indicators__tabs-number 48
                                .key-indicators__tabs-row 
                                    svg(viewBox='0 0 9 8' fill='none' xmlns='http://www.w3.org/2000/svg')
                                        path(d='M4.31807 3.95342L1.8213 7.63902e-08L0 0L2.4981 3.95579L0.023996 7.87234L1.8455 7.87234L4.31807 3.95342Z' fill='#00AEEF')
                                        path(d='M8.31807 3.95342L5.8213 7.63902e-08L4 0L6.4981 3.95579L4.024 7.87234L5.8455 7.87234L8.31807 3.95342Z' fill='#002D67')
                                    p.key-indicators__tabs-info Пищевая промышленность
                                    p.key-indicators__tabs-number 50
                                .key-indicators__tabs-row 
                                    svg(viewBox='0 0 9 8' fill='none' xmlns='http://www.w3.org/2000/svg')
                                        path(d='M4.31807 3.95342L1.8213 7.63902e-08L0 0L2.4981 3.95579L0.023996 7.87234L1.8455 7.87234L4.31807 3.95342Z' fill='#00AEEF')
                                        path(d='M8.31807 3.95342L5.8213 7.63902e-08L4 0L6.4981 3.95579L4.024 7.87234L5.8455 7.87234L8.31807 3.95342Z' fill='#002D67')
                                    p.key-indicators__tabs-info Спецтехника
                                    p.key-indicators__tabs-number 50
                                .key-indicators__tabs-row 
                                    svg(viewBox='0 0 9 8' fill='none' xmlns='http://www.w3.org/2000/svg')
                                        path(d='M4.31807 3.95342L1.8213 7.63902e-08L0 0L2.4981 3.95579L0.023996 7.87234L1.8455 7.87234L4.31807 3.95342Z' fill='#00AEEF')
                                        path(d='M8.31807 3.95342L5.8213 7.63902e-08L4 0L6.4981 3.95579L4.024 7.87234L5.8455 7.87234L8.31807 3.95342Z' fill='#002D67')
                                    p.key-indicators__tabs-info Грузовой автотранспорт
                                    p.key-indicators__tabs-number 50
                        .key-indicators__tabs-item
                            .key-indicators__tabs-title
                                svg(viewBox='0 0 12 6' fill='none' xmlns='http://www.w3.org/2000/svg')
                                    path(d='M5.67541 6L11.4004 2.53072L11.4004 0L5.67198 3.47113L0.000389099 0.0333427V2.56435L5.67541 6Z') 
                                p Рэнкинг по размеру клиентов «Эксперт РА 2019»
                            .key-indicators__tabs-list
                                .key-indicators__tabs-row 
                                    svg(viewBox='0 0 9 8' fill='none' xmlns='http://www.w3.org/2000/svg')
                                        path(d='M4.31807 3.95342L1.8213 7.63902e-08L0 0L2.4981 3.95579L0.023996 7.87234L1.8455 7.87234L4.31807 3.95342Z' fill='#00AEEF')
                                        path(d='M8.31807 3.95342L5.8213 7.63902e-08L4 0L6.4981 3.95579L4.024 7.87234L5.8455 7.87234L8.31807 3.95342Z' fill='#002D67')
                                    p.key-indicators__tabs-info Крупный бизнес
                                    p.key-indicators__tabs-number 48
                                .key-indicators__tabs-row 
                                    svg(viewBox='0 0 9 8' fill='none' xmlns='http://www.w3.org/2000/svg')
                                        path(d='M4.31807 3.95342L1.8213 7.63902e-08L0 0L2.4981 3.95579L0.023996 7.87234L1.8455 7.87234L4.31807 3.95342Z' fill='#00AEEF')
                                        path(d='M8.31807 3.95342L5.8213 7.63902e-08L4 0L6.4981 3.95579L4.024 7.87234L5.8455 7.87234L8.31807 3.95342Z' fill='#002D67')
                                    p.key-indicators__tabs-info Средний бизнес
                                    p.key-indicators__tabs-number 50
                                .key-indicators__tabs-row 
                                    svg(viewBox='0 0 9 8' fill='none' xmlns='http://www.w3.org/2000/svg')
                                        path(d='M4.31807 3.95342L1.8213 7.63902e-08L0 0L2.4981 3.95579L0.023996 7.87234L1.8455 7.87234L4.31807 3.95342Z' fill='#00AEEF')
                                        path(d='M8.31807 3.95342L5.8213 7.63902e-08L4 0L6.4981 3.95579L4.024 7.87234L5.8455 7.87234L8.31807 3.95342Z' fill='#002D67')
                                    p.key-indicators__tabs-info Малый бизнес
                                    p.key-indicators__tabs-number 50
                        .key-indicators__tabs-item
                            .key-indicators__tabs-title
                                svg(viewBox='0 0 12 6' fill='none' xmlns='http://www.w3.org/2000/svg')
                                    path(d='M5.67541 6L11.4004 2.53072L11.4004 0L5.67198 3.47113L0.000389099 0.0333427V2.56435L5.67541 6Z') 
                                p Региональные рэнкинги
                            .key-indicators__tabs-list
                                .key-indicators__tabs-row 
                                    svg(viewBox='0 0 9 8' fill='none' xmlns='http://www.w3.org/2000/svg')
                                        path(d='M4.31807 3.95342L1.8213 7.63902e-08L0 0L2.4981 3.95579L0.023996 7.87234L1.8455 7.87234L4.31807 3.95342Z' fill='#00AEEF')
                                        path(d='M8.31807 3.95342L5.8213 7.63902e-08L4 0L6.4981 3.95579L4.024 7.87234L5.8455 7.87234L8.31807 3.95342Z' fill='#002D67')
                                    p.key-indicators__tabs-info Уральский ФО
                                    p.key-indicators__tabs-number 25 
                                .key-indicators__tabs-row 
                                    svg(viewBox='0 0 9 8' fill='none' xmlns='http://www.w3.org/2000/svg')
                                        path(d='M4.31807 3.95342L1.8213 7.63902e-08L0 0L2.4981 3.95579L0.023996 7.87234L1.8455 7.87234L4.31807 3.95342Z' fill='#00AEEF')
                                        path(d='M8.31807 3.95342L5.8213 7.63902e-08L4 0L6.4981 3.95579L4.024 7.87234L5.8455 7.87234L8.31807 3.95342Z' fill='#002D67')
                                    p.key-indicators__tabs-info Сибирский ФО
                                    p.key-indicators__tabs-number 28
                                .key-indicators__tabs-row 
                                    svg(viewBox='0 0 9 8' fill='none' xmlns='http://www.w3.org/2000/svg')
                                        path(d='M4.31807 3.95342L1.8213 7.63902e-08L0 0L2.4981 3.95579L0.023996 7.87234L1.8455 7.87234L4.31807 3.95342Z' fill='#00AEEF')
                                        path(d='M8.31807 3.95342L5.8213 7.63902e-08L4 0L6.4981 3.95579L4.024 7.87234L5.8455 7.87234L8.31807 3.95342Z' fill='#002D67')
                                    p.key-indicators__tabs-info Северо-Западный ФО
                                    p.key-indicators__tabs-number 45
