section.key-figures
    .center-wrap 
        .key-figures__wrap 
            .key-figures__left
                h2.key-figures__title.simple-title Ключевые цифры
            .key-figures__right
                .indicators
                    .indicators__list.indicators__list--column
                        .indicators__row
                            .indicators__item
                                p.indicators__item-number 300
                                p.indicators__item-text постоянных клиентов
                            .indicators__item.indicators__item--width
                                p.indicators__item-number 7
                                    sub тыс.
                                p.indicators__item-text единиц техники передано в лизинг
                        .indicators__row
                            .indicators__item
                                p.indicators__item-number 11
                                    sub млрд.руб.
                                p.indicators__item-text единиц техники передано в лизинг
                            .indicators__item.indicators__item--width
                                p.indicators__item-number 1500
                                p.indicators__item-text реализованных лизинговых проектов