section.main-slider#scroll-top
	a(href="scroll-down").main-slider__scroll.single-anchors
		svg(viewBox='0 0 15 8' fill='none' xmlns='http://www.w3.org/2000/svg')
			path(d='M7.89454 7.79785L15 3.49201L15 0.351045L7.89027 4.65919L0.851066 0.392427L0.851066 3.53374L7.89454 7.79785Z')
	.swiper-container
		.swiper-wrapper
			.swiper-slide 
				.main-slider__img-left
					picture
						source(srcset='assets/images/png/main-slider__img5--mobile.png' media='(max-width: 600px)')
						img.main-slider__img(src='assets/images/png/main-slider__img5--desktop.png' alt='')
				.main-slider__img-right
					picture
						source(srcset='assets/images/png/main-slider__img5--mobile.png' media='(max-width: 600px)')
						img.main-slider__img(src='assets/images/png/main-slider__img5--desktop.png' alt='')
				.center-wrap
					.main-slider__content 
						a(href="about.html").main-slider__title.main-slider__title--height О компании
						.main-slider__content-top
							p.main-slider__subtitle 20-летний опыт работы — гарантия успешного решения любых задач
							.main-slider__content-box
								p.main-slider__text «Единственным источником знаний является опыт»
								p.main-slider__author Альберт Эйнштейн
			.swiper-slide 
				.main-slider__img-left
					picture
						source(srcset='assets/images/png/main-slider__img2--mobile.png' media='(max-width: 600px)')
						img.main-slider__img(src='assets/images/png/main-slider__img2--desktop.png' alt='')
				.main-slider__img-right
					picture
						source(srcset='assets/images/png/main-slider__img2--mobile.png' media='(max-width: 600px)')
						img.main-slider__img(src='assets/images/png/main-slider__img2--desktop.png' alt='')
				.center-wrap
					.main-slider__content 
						a(href="leasing.html").main-slider__title Лизинг атотранспорта
						.main-slider__content-top
							p.main-slider__subtitle Лизинг атотранспорта требует внимания к деталям
							.main-slider__content-box
								p.main-slider__text «Внимание к мелочам рождает совершенство, а вот совершенство уже не мелочь»
								p.main-slider__author Микеланджело
			.swiper-slide
				.main-slider__img-left
					picture
						source(srcset='assets/images/png/main-slider__img3--mobile.png' media='(max-width: 600px)')
						img.main-slider__img(src='assets/images/png/main-slider__img3--desktop.png' alt='')
				.main-slider__img-right
					picture
						source(srcset='assets/images/png/main-slider__img3--mobile.png' media='(max-width: 600px)')
						img.main-slider__img(src='assets/images/png/main-slider__img3--desktop.png' alt='')
				.center-wrap
					.main-slider__content 
						a(href="leasing.html").main-slider__title Лизинг спецтеэники
						.main-slider__content-top
							p.main-slider__subtitle Лизинг спецтеэники требует внимания к деталям
							.main-slider__content-box
								p.main-slider__text «Внимание к мелочам рождает совершенство, а вот совершенство уже не мелочь»
								p.main-slider__author Микеланджело 
			.swiper-slide
				.main-slider__img-left
					picture
						source(srcset='assets/images/png/main-slider__img4--mobile.png' media='(max-width: 600px)')
						img.main-slider__img(src='assets/images/png/main-slider__img4--desktop.png' alt='')
				.main-slider__img-right
					picture
						source(srcset='assets/images/png/main-slider__img4--mobile.png' media='(max-width: 600px)')
						img.main-slider__img(src='assets/images/png/main-slider__img4--desktop.png' alt='')
				.center-wrap
					.main-slider__content 
						a(href="leasing.html").main-slider__title Лизинг оборудования
						.main-slider__content-top
							p.main-slider__subtitle Лизинг оборудования требует внимания к деталям
							.main-slider__content-box
								p.main-slider__text «Внимание к мелочам рождает совершенство, а вот совершенство уже не мелочь»
								p.main-slider__author Микеланджело
			.swiper-slide
				.main-slider__img-left
					picture
						source(srcset='assets/images/png/main-slider__img1--mobile.png' media='(max-width: 600px)')
						img.main-slider__img(src='assets/images/png/main-slider__img1--desktop.png' alt='')
				.main-slider__img-right
					picture
						source(srcset='assets/images/png/main-slider__img1--mobile.png' media='(max-width: 600px)')
						img.main-slider__img(src='assets/images/png/main-slider__img1--desktop.png' alt='')
				.center-wrap
					.main-slider__content 
						a(href="leasing.html").main-slider__title Лизинг недвижимости
						.main-slider__content-top
							p.main-slider__subtitle Лизинг недвижимости требует внимания к деталям
							.main-slider__content-box
								p.main-slider__text «Внимание к мелочам рождает совершенство, а вот совершенство уже не мелочь»
								p.main-slider__author Микеланджело
	.main-slider__box 
		.main-slider__arrow-main 
			.main-slider__arrow-wrap 
				.main-slider__arrow 
					.main-slider__arrow-prev 
						svg(viewBox='0 0 25 12' fill='none' xmlns='http://www.w3.org/2000/svg') 
							path(d='M0.469669 5.46967C0.176777 5.76256 0.176777 6.23744 0.469669 6.53033L5.24264 11.3033C5.53553 11.5962 6.01041 11.5962 6.3033 11.3033C6.59619 11.0104 6.59619 10.5355 6.3033 10.2426L2.06066 6L6.3033 1.75736C6.59619 1.46447 6.59619 0.989593 6.3033 0.696699C6.01041 0.403806 5.53553 0.403806 5.24264 0.696699L0.469669 5.46967ZM25 5.25L1 5.25V6.75L25 6.75V5.25Z') 
					.swiper-pagination 
					.main-slider__arrow-next 
						svg(viewBox='0 0 25 12' fill='none' xmlns='http://www.w3.org/2000/svg') 
							path(d='M24.5303 5.46967C24.8232 5.76256 24.8232 6.23744 24.5303 6.53033L19.7574 11.3033C19.4645 11.5962 18.9896 11.5962 18.6967 11.3033C18.4038 11.0104 18.4038 10.5355 18.6967 10.2426L22.9393 6L18.6967 1.75736C18.4038 1.46447 18.4038 0.989593 18.6967 0.696699C18.9896 0.403806 19.4645 0.403806 19.7574 0.696699L24.5303 5.46967ZM0 5.25L24 5.25V6.75L0 6.75L0 5.25Z')