.mobile-menu
	.mobile-menu__wrap
		.center-wrap
			.mobile-menu__top
				a(href="/").mobile-menu__logo
					img(src='assets/images/svg/logo.svg' alt='')
				.mobile-menu__act.mobile-menu__act--close
					svg(viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg')
						path(d='M16 1.4L14.6 0L8 6.6L1.4 0L0 1.4L6.6 8L0 14.6L1.4 16L8 9.4L14.6 16L16 14.6L9.4 8L16 1.4Z')
			.mobile-menu__body
				.mobile-menu__presentation
					a(href="" download).presentation.presentation--column
						svg(viewBox='0 0 67 67' fill='none' xmlns='http://www.w3.org/2000/svg')
							ellipse(cx='33.5096' cy='33.5' rx='32.8738' ry='33.5' fill='#444C58' fill-opacity='0.3')
							path(d='M43.707 44H24.187' stroke='white' stroke-width='2' stroke-linecap='round')
							path(d='M33.2387 35.7071C33.6292 36.0976 34.2624 36.0976 34.6529 35.7071L41.0169 29.3431C41.4074 28.9526 41.4074 28.3195 41.0169 27.9289C40.6263 27.5384 39.9932 27.5384 39.6027 27.9289L33.9458 33.5858L28.2889 27.9289C27.8984 27.5384 27.2653 27.5384 26.8747 27.9289C26.4842 28.3195 26.4842 28.9526 26.8747 29.3431L33.2387 35.7071ZM32.9458 20V35H34.9458V20H32.9458Z' fill='#00AEEF')
						span.presentation__border
						.presentation__title.presentation__title--desktop
							.oh-wrap
								.oh Скачать
							.oh-wrap
								.oh презентацию
							.oh-wrap
								.oh компании
						.presentation__title.presentation__title--mobile
							.oh-wrap
								.oh Скачать презентацию
							.oh-wrap
								.oh компании
				.mobile-menu__tel
					.oh-wrap
						a.oh(href="tel:78126710011") +7 (812) 671-00-11
				nav.mobile-menu__nav
					ul.mobile-menu__nav-list
						li.mobile-menu__nav-item
							.oh-wrap
								a.mobile-menu__nav-link.mobile-menu__nav-link--desktop.oh(href='about.html') Компания
								p.mobile-menu__nav-link.mobile-menu__nav-link--mobile.oh Компания
								.mobile-menu__drop
									a.mobile-menu__drop-link.mobile-menu__drop-link--mobile(href='/about.html') О компании
									a.mobile-menu__drop-link(href='news.html') Новости
									a.mobile-menu__drop-link(href='key-indicators.html') Ключевые показатели
									a.mobile-menu__drop-link(href='history.html') История
									a.mobile-menu__drop-link(href='investors.html') Инвесторам
						li.mobile-menu__nav-item
							.oh-wrap
								a.mobile-menu__nav-link.mobile-menu__nav-link--desktop.oh(href='services.html') Услуги
								p.mobile-menu__nav-link.mobile-menu__nav-link--mobile.oh Услуги
								.mobile-menu__drop
									a.mobile-menu__drop-link(href='leasing.html') Лизинг автотранспорта
									a.mobile-menu__drop-link(href='leasing.html') Лизинг спецтехники
									a.mobile-menu__drop-link(href='leasing.html') Лизинг оборудования
									a.mobile-menu__drop-link(href='leasing.html') Лизинг недвижимости
									a.mobile-menu__drop-link(href='programs.html') Государственные программы
									a.mobile-menu__drop-link(href='text-page.html') Продажа б/у активов
									a(href="/services.html").mobile-menu__drop-link.mobile-menu__drop-link--mobile Все услуги
						li.mobile-menu__nav-item
							.oh-wrap
								a.mobile-menu__nav-link.mobile-menu__nav-link--desktop.oh(href='deal.html') Клиентам
								p.mobile-menu__nav-link.mobile-menu__nav-link--mobile.oh Клиентам
								.mobile-menu__drop
									a.mobile-menu__drop-link(href='deal.html') Этапы сделки
									a.mobile-menu__drop-link(href='documentation.html') Документы
						li.mobile-menu__nav-item
							.oh-wrap
								a.mobile-menu__nav-link.mobile-menu__nav-link--desktop.oh(href='partners.html') Партнёры
								p.mobile-menu__nav-link.mobile-menu__nav-link--mobile.oh Партнёры
								.mobile-menu__drop
									a(href="/partners.html").mobile-menu__drop-link.mobile-menu__drop-link--mobile Партнеры
									a.mobile-menu__drop-link(href='/partners.html#banks') Банки
									a.mobile-menu__drop-link(href='/partners.html#companyes') Страховые компании
									a.mobile-menu__drop-link(href='/partners.html#providers') Поставщики

						li.mobile-menu__nav-item
							.oh-wrap
								a.mobile-menu__nav-link.mobile-menu__nav-link--arrow.oh(href="contacts.html") Контакты