section.new-view
    .new-view__breadcrumbs
        .center-wrap
            .breadcrumbs
                ul.breadcrumbs__list
                    li.breadcrumbs__item.breadcrumbs__item--color
                        a.breadcrumbs__link(href="/index.html") Главная
                    li.breadcrumbs__item
                        span Новости
    .center-wrap 
        .new-view__top
            h2.new-view__top-title Завершена сделка по передаче АБЗ импортного оборудования на 230 млн. руб.
            .new-view__top-box
                p.new-view__top-date 13 декабря 2019
                .new-view__top-right
                    p.new-view__top-text Мобильный АБЗ Benninghoven будет использован в работе лизингополучателем – крупной строительной компанией, осуществляющей полный комплекс строительно-монтажных работ при строительстве автомобильных дорог, возведении насыпей для различных строительных сооружений
    .new-view__slider 
        .new-slider
            .swiper-container
                .swiper-wrapper
                    .swiper-slide
                        .novelty-slider__img
                            div
                                figure.slide-bgimg(style="background-image:url('assets/images/png/new-slider-img1.png')")
                                    img.entity-img(src='assets/images/png/new-slider-img1.png' alt='')
                    .swiper-slide
                        .novelty-slider__img
                            div
                                figure.slide-bgimg(style="background-image:url('assets/images/png/new-slider-img2.png')")
                                img.entity-img(src='assets/images/png/new-slider-img2.png' alt='')
                    .swiper-slide
                        .novelty-slider__img
                            div
                                figure.slide-bgimg(style="background-image:url('assets/images/png/new-slider-img1.png')")
                                img.entity-img(src='assets/images/png/new-slider-img1.png' alt='')
            .new-slider__arrow
                .new-slider__arrow-prev
                    svg(viewBox='0 0 7 11' fill='none' xmlns='http://www.w3.org/2000/svg')
                        path(d='M6.47203 9.24949L2.47177 5.24051L6.47203 1.23152L5.24051 0L0 5.24051L5.24051 10.481L6.47203 9.24949Z')
                p.new-slider__arrow-text тяните вправо или влево
                .new-slider__arrow-next
                    svg(viewBox='0 0 7 11' fill='none' xmlns='http://www.w3.org/2000/svg')
                        path(d='M0.000142574 9.24949L4.0004 5.24051L0.000142574 1.23152L1.23166 0L6.47217 5.24051L1.23166 10.481L0.000142574 9.24949Z')
    .center-wrap 
        .new-view__info 
            .info
                h3.info__title.simple-title Для перевозки используются стандартные тягачи
                p.info__text Идейные соображения высшего порядка, а также новая модель организационной деятельности обеспечивает широкому кругу (специалистов) участие в формировании форм развития. Идейные соображения высшего порядка, а также постоянное информационно-<span class='info__text--fw'>пропагандистское обеспечение</span> нашей деятельности обеспечивает широкому кругу (специалистов) участие в формировании новых предложений. <a href='#' class='info__link'>Значимость этих проблем</a> настолько очевидна, что рамки и место обучения кадров требуют от нас анализа системы обучения кадров, соответствует насущным потребностям.
                ul.info__list
                    li.item-arrow Консультации по вопросам подбора объекта недвижимости
                    li.item-arrow Административно-правовое управление объектами
                ol.info__list.info__list--number
                    li.info__list-item Управление инфраструктурой объекта
            .new-view__faq
                .faq__list.toogles2.faq__list--100
                    .faq__item.toogles2__item
                        h2.faq__item-title.toogles2__item-title
                            p.faq__item-subtitle Это событие является тем более знаковым
                            span.faq__item-icon
                        .faq__item-box.toogles2__item-box
                            p.faq__item-text Разнообразный и богатый опыт дальнейшее развитие различных форм деятельности позволяет выполнять важные задания по разработке дальнейших направлений развития.
                    .faq__item.faq__item--last.toogles2__item.toogles2__item--active
                        h2.faq__item-title.toogles2__item-title
                            p.faq__item-subtitle Первым в России «технопарком», предназначенным
                            span.faq__item-icon
                        .faq__item-box.toogles2__item-box
                            p.faq__item-text Разнообразный и богатый опыт дальнейшее развитие различных форм деятельности позволяет выполнять важные задания по разработке дальнейших направлений развития.
            .new-view__table
                .table
                    .table__top 
                        .table__column.table__column--left
                            p.table__top-title Таблица
                        .table__column
                            p.table__top-title Значение
                        .table__column
                            p.table__top-title Результат
                    .table__body
                        .table__body-row
                            .table__column.table__column--left
                                p.table__body-text По умолчанию вокруг ячеек таблицы рамок нет.
                            .table__column
                                p.table__body-text 24 000
                            .table__column
                                p.table__body-text 10 400
                        .table__body-row
                            .table__column.table__column--left
                                p.table__body-text По умолчанию вокруг ячеек таблицы рамок нет.
                            .table__column
                                p.table__body-text 24 000
                            .table__column
                                p.table__body-text 10 400
            .new-view__download 
                +download({link:'Скачать заявление на оформление заграничного паспорта',href:'#'})
                +download({link:'Скачать заявление на оформление заграничного паспорта',href:'#'})
            .new-view__img 
                div
                    img(src="assets/images/png/faq__item-img.png" alt="")
            p.new-view__descr Горизо́нт — граница неба с земной или водной поверхностью
            .new-view__link
                a(href="news.html").link
                    svg(viewBox='0 0 22 13' fill='none' xmlns='http://www.w3.org/2000/svg')
                        path(d='M0.469669 5.96967C0.176777 6.26256 0.176777 6.73744 0.469669 7.03033L5.24264 11.8033C5.53553 12.0962 6.01041 12.0962 6.3033 11.8033C6.59619 11.5104 6.59619 11.0355 6.3033 10.7426L2.06066 6.5L6.3033 2.25736C6.59619 1.96447 6.59619 1.48959 6.3033 1.1967C6.01041 0.903806 5.53553 0.903806 5.24264 1.1967L0.469669 5.96967ZM22 5.75L1 5.75V7.25L22 7.25V5.75Z')
                    p.link__title К списку новостей



