section.news
    .center-wrap
        h2.news__title.simple-title Новости компании
        .news__list
            +new({href:'new-view.html',title:'Компания «ТСС-Лизинг» вошла в десятку лучших лизинговых компаний Урала и Западной Сибири',date:'13 декабря 2019'})
            +new({href:'new-view.html',title:'45 место в рейтинге крупнейших лизинговых компаний',date:'13 декабря 2019'})
            +new({href:'new-view.html',title:'Завершена сделка по передаче АБЗ импортного оборудования на 230 млн. руб.',date:'13 декабря 2019'})
            +new({class:'new--hide'})