.page-trans
  .page-trans__wrap
    .page-trans__logo-left
      img(src='assets/images/svg/logoColor.svg' alt='')
    .page-trans__logo-right
      .page-trans__logo-top
        svg(xmlns='http://www.w3.org/2000/svg' width='56.886' height='16.897' viewbox='0 0 56.886 16.897')
          path#tssLogoTop(d='M16.9,3.645H10.138V17.163H6.759V3.645H0V.266H16.9Zm20,13.518H25.065Q20,17.163,20,12.094V5.335Q20,.266,25.065.266H36.893V3.645H25.065a1.493,1.493,0,0,0-1.69,1.69v6.759a1.493,1.493,0,0,0,1.69,1.69H36.893Zm8.165,0H56.886V13.783H45.058a1.494,1.494,0,0,1-1.69-1.69V5.335a1.494,1.494,0,0,1,1.69-1.69H56.886V.266H45.058q-5.069,0-5.069,5.069v6.759Q39.989,17.163,45.058,17.163Z' transform='translate(0 -0.266)' fill='#00386C' fill-rule='evenodd')
      .page-trans__logo-bottom
        svg(xmlns='http://www.w3.org/2000/svg' width='57.857' height='8.111' viewbox='0 0 57.857 8.111')
          path#lisingLogoBottom(d='M8.267,30.117H6.645V23.629H4.212q-.595,0-.811.811l-1.6,5.677H.156q1.5-4.866,1.622-5.677.716-2.433,2.433-2.432H8.267Zm8.653,0h1.622v-8.11H16.92L12.053,27.63V22.007H10.431v8.11h1.623l4.866-5.623Zm11.42-4.056a3.682,3.682,0,0,1,.473,1.892q0,2.164-2.433,2.163H20.7V28.495h5.677a.811.811,0,0,0,0-1.622H23.947V25.252h2.433a.811.811,0,0,0,0-1.622H20.7V22.008h6.015q2.1,0,2.1,2.432A3.2,3.2,0,0,1,28.34,26.062Zm9.125,4.055h1.622v-8.11H37.465L32.6,27.63V22.007H30.977v8.11H32.6l4.866-5.623Zm11.9,0H47.74V26.873H42.873v3.244H41.251v-8.11h1.622v3.244H47.74V22.007h1.622Zm3.785-6.488h4.866V22.007H51.524v8.111h1.622Z' transform='translate(-0.156 -22.007)' fill='#00386C' fill-rule='evenodd')
