section.pairs
    .center-wrap
        .pairs__list.toogles2
            .pairs__item.toogles2__item.toogles2__item--active(id='banks')
                h2.pairs__item-title.toogles2__item-title Банки
                    span
                .pairs__item-box.toogles2__item-box
                    .pairs__row
                        .pairs__row-logo 
                            img(src='assets/images/png/faq-img1.png' alt='')
                        h3.pairs__row-title ПАО «СБЕРБАНК»
                    .pairs__row
                        .pairs__row-logo 
                            img(src='assets/images/png/faq-img2.png' alt='')
                        h3.pairs__row-title ПАО «СБЕРБАНК»
                    .pairs__row
                        .pairs__row-logo 
                            img(src='assets/images/png/faq-img3.png' alt='')
                        h3.pairs__row-title ПАО «СБЕРБАНК»
                    .pairs__row
                        .pairs__row-logo 
                            img(src='assets/images/png/faq-img4.png' alt='')
                        h3.pairs__row-title ПАО «СБЕРБАНК»
                    .pairs__row
                        h3.pairs__row-title.pairs__row-title--padding Партнер без логотипа

            .pairs__item.toogles2__item(id='companyes')
                h2.pairs__item-title.toogles2__item-title Cтраховые компании
                    span
                .pairs__item-box.toogles2__item-box
                    .pairs__row
                        .pairs__row-logo 
                            img(src='assets/images/png/faq-img1.png' alt='')
                        h3.pairs__row-title ПАО «СБЕРБАНК»
                    .pairs__row
                        .pairs__row-logo 
                            img(src='assets/images/png/faq-img2.png' alt='')
                        h3.pairs__row-title ПАО «СБЕРБАНК»
                    .pairs__row
                        .pairs__row-logo 
                            img(src='assets/images/png/faq-img3.png' alt='')
                        h3.pairs__row-title ПАО «СБЕРБАНК»
                    .pairs__row
                        .pairs__row-logo 
                            img(src='assets/images/png/faq-img4.png' alt='')
                        h3.pairs__row-title ПАО «СБЕРБАНК»
                    .pairs__row
                        h3.pairs__row-title.pairs__row-title--padding Партнер без логотипа
            .pairs__item.toogles2__item(id='providers')
                h2.pairs__item-title.toogles2__item-title Поставщики
                    span
                .pairs__item-box.toogles2__item-box
                    .pairs__row
                        .pairs__row-logo 
                            img(src='assets/images/png/faq-img1.png' alt='')
                        h3.pairs__row-title ПАО «СБЕРБАНК»
                    .pairs__row
                        .pairs__row-logo 
                            img(src='assets/images/png/faq-img2.png' alt='')
                        h3.pairs__row-title ПАО «СБЕРБАНК»
                    .pairs__row
                        .pairs__row-logo 
                            img(src='assets/images/png/faq-img3.png' alt='')
                        h3.pairs__row-title ПАО «СБЕРБАНК»
                    .pairs__row
                        .pairs__row-logo 
                            img(src='assets/images/png/faq-img4.png' alt='')
                        h3.pairs__row-title ПАО «СБЕРБАНК»
                    .pairs__row
                        h3.pairs__row-title.pairs__row-title--padding Партнер без логотипа