section.partners
    .center-wrap 
        h2.partners__title Стратегия развития нашей компании включает в себя построение долгосрочных партнерских отношений со всеми участниками лизингового проекта – банками, страховыми и оценочными компаниями, поставщиками лизингового имущества
        p.partners__descr Это позволяет нам предлагать актуальные комплексные продукты, дающие синергетический эффект взаимодополняющих услуг, и удовлетворять потребности наших клиентов.