section.related-services
    .center-wrap 
        h2.related-services__title.simple-title Сопутствующие сервисы
        ul.related-services__list 
            li.item-arrow Экспертиза и подготовка договоров, в том числе на иностранных языках
            li.item-arrow Структурирование и оптимизация многоступенчатых и сложных сделок, привлечение финансовых и иных партнеров
            li.item-arrow Бесплатные консультации по всем аспектам лизинга
            li.item-arrow Специальные программы и условия от ведущих производителей и поставщиков техники
            li.item-arrow Льготные страховые программы и условия
            li.item-arrow Организация доставки и таможенного оформления при импорте предмета лизинга
            li.item-arrow Предоставление сюрвейерских услуг, в том числе с привлечением технических экспертов
            li.item-arrow Организация мониторинга нахождения техники и условий ее эксплуатации
            li.item-arrow Постановка техники на учет в государственных органах
            li.item-arrow Постановка техники на учет в государственных органах