@font-face {
    font-family: "Heading-Pro-Treble";
    src: url('~fonts/Heading-Pro-Treble-Bold-TTF.woff2');
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: "Heading-Pro-Treble";
    src: url('~fonts/Heading-Pro-Treble-Regular-TTF.woff2');
    font-weight: 500;
    font-display: swap;
}