* {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
	outline: none;
}

.oh-wrap {
	overflow: hidden;

	.oh {
		display: block;
	}
}

img {
	max-width: 100%;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input {
	-webkit-border-radius: 0px;
	-webkit-appearance: none;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	color: inherit;
}

html,
body {
	font-size: 62.5%;

	@media screen and (max-width: $large_desktop) {
		font-size: 100vw / (1440/10);
	}

	@media screen and (max-width: $large_tablet) {
		font-size: 71.5%;
	}

	@media screen and (max-width: $large_mobile) {
		font-size: 100vw / (380/10);
	}
}

body {
	font-family: $primary-font;
	color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 100vh;
	font-size: 1.6rem;
	font-weight: 500;
	user-select: none;
}

main {
	flex-grow: 1;
}

.center-wrap {
	max-width: 1430px;
	width: 100%;
	margin: 0px auto;
	padding: 0px 15px;

	@media screen and (max-width: $large_desktop) {
		max-width: calc(100% - 80px);
	}

	@media screen and (max-width: $large_tablet) {
		max-width: $large_mobile;
		padding: 0px 20px;
	}
}

h1,
h2,
h3,
h4 {
	margin: 0px;
}

.simple-title {
	color: $primary-color;
	font-weight: 600;
	font-size: 3rem;
	line-height: 140%;

	@media screen and (max-width: $large_tablet) {
		font-size: 2.2rem;
	}
}