// Font
$primary-font:'Heading-Pro-Treble',
sans-serif;

// Color 
$secondary-color:#00AEEF;
$primary-color:#333333;

$gray:#7F838A;
$gray--dark:#444C58;
$gray--light:#B3BAC4;
$gray--lightest:#E8EAED;
$color-danger: #EB5757;


$white--darken:#F2F2F2;
$bg:#F6F6F6;



// Media
$large_desktop: 1440px;
$large_tablet: 1024px;
$large_mobile: 420px;