mixin download(params)
    a.download(class=params.class,href=params.href,download='')
        .download__link #{params.link}
        .download__icon
            svg(width='23' height='25' viewBox='0 0 23 25' fill='none' xmlns='http://www.w3.org/2000/svg')
                path(d='M21.8408 24L1.94893 24' stroke='#00AEEF' stroke-width='2' stroke-linecap='round')
                path(d='M11.1874 15.7071C11.5779 16.0976 12.2111 16.0976 12.6016 15.7071L18.9656 9.34315C19.3561 8.95262 19.3561 8.31946 18.9656 7.92893C18.5751 7.53841 17.9419 7.53841 17.5514 7.92893L11.8945 13.5858L6.23768 7.92893C5.84715 7.53841 5.21399 7.53841 4.82346 7.92893C4.43294 8.31946 4.43294 8.95262 4.82346 9.34315L11.1874 15.7071ZM10.8945 0L10.8945 15H12.8945L12.8945 0L10.8945 0Z' fill='#00AEEF')

