extends ../layout/main

block variables
    - var title = 'ТСС';
    - var pageClass = 'index-page';

block content
    include ../includes/main-slider
    include ../includes/about
    include ../includes/services
    include ../includes/request  

