include ../mixins/mixins-loader
block variables

<!DOCTYPE html>
html(lang="ru")

  head
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(charset='utf-8')
    title #{title}
    meta(name='theme-color' content='#3D4356')
    block link
      link(rel='icon' type='image/png' href='assets/images/png/favicon.png')
      link(href='https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200;300;400;500;600&family=PT+Sans:wght@400;700&family=Roboto&display=swap' rel='stylesheet')
      link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/Swiper/5.4.5/css/swiper.min.css')






  body(id=pageClass)
    include ../includes/page-trans
    include ../includes/preloader
    +header({})
    main
      block content

    include ../includes/footer
    include ../includes/mobile-menu
    include ../includes/popup

    block script
      script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
      script(src='https://cdnjs.cloudflare.com/ajax/libs/Swiper/5.4.5/js/swiper.min.js') 
      script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js")
      script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/ScrollTrigger.min.js")
      script(src="https://cdn.jsdelivr.net/npm/vivus@latest/dist/vivus.min.js")